@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Models.BookListingModel
@inject ILocalization Localizer

@{
    ViewBag.Title = @Localizer.Translate("ProfessionalLiteratureListing", "ProfessionalLiterature");
}

@section styles{
    <link href="~/Areas/ProfessionalLiterature/css/itjakub.professionalliterature.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/ProfessionalLiterature/js/itjakub.professionalliterature.js"></script>
}


<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookXmlId" data-versionid="@Model.VersionXmlId">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        initProfLitReader(@Json.Serialize(Model.BookXmlId), @Json.Serialize(Model.VersionXmlId),  @Json.Serialize(Model.BookTitle), @Json.Serialize(Model.BookPages), @Json.Serialize(Model.SearchText, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.InitPageXmlId));
    });
</script>