@using ITJakub.Web.Hub.Core.Managers
@using ITJakub.Web.Hub.Helpers
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer
@inject ProjectTypeLocalizer ProjectTypeLocalizer
@inject PortalTypeManager PortalTypeManager

<div id="listHeader">
    <div id="listSearchDiv" class="list-search-div">
    </div>
    <div class="list-results-header">
        @Localizer.Translate("SortBy", "global", LocTranslationSource.File)
        <div id="listResultsHeader" class="list-results-header-div">
        </div>
    </div>
</div>

<div id="allowedSearchOptions" class="hide" data-options="@Html.Encode(Json.Serialize(PortalTypeManager.Options.AllowedSearchOptions.ToArray()))"></div>

<div class="dropdown-select-div">
    <div id="dropdownSelectDiv"></div>
    <div id="otherDropdownSelectDiv">
        <span class="search-areas-label">@Localizer.Translate("SearchedAreas", "BibliographyModule"):</span>
        <select class="selectpicker" multiple data-show-content="false">
            @foreach (var projectType in ProjectTypeLocalizer.GetProjectTypeList())
            {
                var isDefault = projectType == PortalTypeManager.GetDefaultProjectType();
                <option value="@projectType" data-content="@ProjectTypeLocalizer.TranslatePortal(projectType)" disabled="@isDefault" selected="@isDefault">@ProjectTypeLocalizer.TranslatePortalShort(projectType)</option>
            }
        </select>
    </div>
</div>

<div id="listResults" style="clear: both;">
</div>
