<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/dropzonescss")
        @Styles.Render("~/Content/jqueryuicss")
        @Styles.Render("~/Content/itjakub")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", false)
    </head>
    <body>

        <div class="container page-body-content">

            @*top fixed part*@
            <div class="navbar navbar-inverse navbar-fixed-top header-content">
                <div class="">
                    <div class="main-navbar-container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a href='@Url.Action("Index", "Home", new {area = ""})' class="main_logo_href">
                                <img src="@Url.Content("~/Content/Images/logo.png")" alt="main_logo" class="main_logo" />   @*TODO make logo small as this size*@
                                <div class="main_logo_text">
                                    <h1>Vokabulář</h1>
                                    <h2>webový</h2>
                                </div>
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>

                <div id="main-plugins-menu" class="main-plugins-menu">
                    <ul>
                        <li class='has-sub'>
                            <a href='@Url.Action("Search", "Dictionaries", new { area = "Dictionaries" })'><span>Slovníky</span></a>
                            <ul>
                                <li>
                                    <a href='@Url.Action("Search", "Dictionaries", new { area = "Dictionaries" })'><span>Vyhledávání</span></a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Passwords", "Dictionaries", new { area = "Dictionaries" })'><span>Listování hesly</span></a>
                                </li>
                                <li>
                                    <a href='@Url.Action("List", "Dictionaries", new { area = "Dictionaries" })'><span>Seznam slovníků</span></a>
                                </li>
                                <li>
                                    <a href='#'><span>Informace</span></a>
                                </li>
                                <li>
                                    <a href='#'><span>Podmínky užití</span></a>
                                </li>
                                <li>
                                    <a href='#'><span>Připomínky</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='@Url.Action("Information", "Editions", new { area = "Editions" })'><span>Edice</span></a>
                            <ul>
                                <li>
                                    <a href='@Url.Action("Information", "Editions", new { area = "Editions" })'><span>Úvodní informace</span></a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Search", "Editions", new { area = "Editions" })'><span>Vyhledávání</span></a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Listing", "Editions", new { area = "Editions" })'><span>Listování</span></a>
                                </li>
                                <li>
                                    <a href='@Url.Action("TermsOfUse", "Editions", new { area = "Editions" })'><span>Podmínky užití</span></a>
                                </li>
                                <li>
                                    <a href='#'><span>Připomínky</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'><span>Staročeská textová banka</span></a>
                            <ul>
                                <li>
                                    <a href='#'><span>Podmínky užití</span></a>
                                </li>
                                <li>
                                    <a href='#'><span>Připomínky</span></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href='#'><span>Staré mluvnice</span></a></li>
                        <li><a href='#'><span>Odborná literatura</span></a></li>
                        <li class='last'><a href='#'><span>Kartotéky excerpce</span></a></li>
                    </ul>
                </div>



            </div>




            @*main page content*@
            <div class="container module-content">
                @RenderBody()
                <hr />

            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>

        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/itjakub/javascript")
        @Scripts.Render("~/bundles/dropzonescripts")
        @RenderSection("scripts", false)
    </body>
</html>