@using ITJakub.Web.Hub.Helpers
@using Microsoft.Extensions.Options;
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@using Vokabular.Shared
@using Vokabular.Shared.AspNetCore.Extensions
@using Vokabular.Shared.Const
@using Vokabular.Shared.Options;

@inject ILocalizationService Localizer
@inject IOptions<PortalConfigOption> PortalConfig
@{
    string mainLogo;
    string secondLogo;

    if (PortalConfig.Value.PortalType == PortalType.CommunityPortal)
    {
        mainLogo = Url.Content("~/images/logo/logo.CommunityPortal.png");
        secondLogo = Url.Content("~/images/logo/logo.CommunityPortal.png");
    }
    else
    {
        mainLogo = Url.Content("~/images/logo/logo.CommunityPortal.png");
        secondLogo = Url.Content("~/images/logo/logo.CommunityPortal.png");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <title>UJC - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/dropzone/downloads/css/dropzone.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-eu-cookie-law-popup/css/jquery-eu-cookie-law-popup.css" rel="stylesheet" />
    <link href="~/lib/simplemde-custom-markdown-mode/dist/simplemde.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-colorpicker-plus/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-colorpicker-plus/dist/css/bootstrap-colorpicker-plus.min.css" rel="stylesheet" />
    <link href="~/lib/s-pagination/dist/pagination.css" rel="stylesheet" />
    <link href="~/css/ITJakubStyle.css" rel="stylesheet" />
    <script src="~/lib/modernizr/modernizr.js"></script>
    @RenderSection("styles", false)
</head>
<body class="eupopup eupopup-fixedtop eupopup-color-inverse" data-has-book-text-url="@Url.Action("HasBookText", "Reader",  new {area = ""})">

    <div class="component keyboard-component" data-keyboard-id="0" data-keyboard-api-url="@Url.Action("GetLayoutList", "Keyboard",  new {area = ""})"></div>

    @*top fixed part*@
    <div class="navbar navbar-inverse navbar-fixed-top header-content">
        <div class="">
            <div class="main-navbar-container">
                <div class="navbar-header-not">
                    <a href='@PortalConfig.Value.SecondPortalUrl' class="second_logo_href">
                        <img src="@secondLogo" alt="second_logo" class="second_logo" />
                        <div class="second_logo_text">
                            @if (PortalConfig.Value.PortalType == PortalType.CommunityPortal)
                            {
                                <h1>@Localizer.Translate("Vokabulář", "global", LocTranslationSource.File)</h1>
                                <h2>@Localizer.Translate("webový", "global", LocTranslationSource.File)</h2>
                            }
                            else
                            {
                                <h1>@Localizer.Translate("Komunitní", "global", LocTranslationSource.File)</h1>
                                <h2>@Localizer.Translate("portál", "global", LocTranslationSource.File)</h2>
                            }
                        </div>
                    </a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="Menu">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>

                    @await Html.PartialAsync("_LoginPartial")

                    <a href='@Url.Action("Index", "Home", new {area = ""})' class="main_logo_href">
                        <img src="@mainLogo" alt="main_logo" class="main_logo" />
                        <div class="main_logo_text">
                            @if (PortalConfig.Value.PortalType == PortalType.CommunityPortal)
                            {
                                <h1>@Localizer.Translate("Komunitní", "global", LocTranslationSource.File)</h1>
                                <h2>@Localizer.Translate("portál", "global", LocTranslationSource.File)</h2>
                            }
                            else
                            {
                                <h1>@Localizer.Translate("Vokabulář", "global", LocTranslationSource.File)</h1>
                                <h2>@Localizer.Translate("webový", "global", LocTranslationSource.File)</h2>
                            }
                        </div>
                    </a>

                    @if (PortalConfig.Value.PortalType == PortalType.CommunityPortal)
                    {
                        @await Html.PartialAsync("_CommunityPortalMenu")
                    }
                    else
                    {
                        @await Html.PartialAsync("_ResearchPortalMenu")
                    }

                </div>
            </div>
        </div>
    </div>

    <div id="baseUrl" data-path="@Url.Content("~/")" style="display: none"></div>
    <div id="permissions-div" class="hidden" data-is-authenticated="@User.Identity.IsAuthenticated" data-roles="@if (User.HasPermission(PermissionNames.EditLemmatization))
                                                                                                    {@Html.Raw("EditLemmatization")
                                                                                                    } "></div>
    <div class="page-body-content">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/respond.js/dest/respond.min.js"></script>
        <script src="~/lib-custom/typeahead.bundle.js"></script>
        <script src="~/lib/scalesoft-localization-web/dist/localization.js"></script>
        <script src="~/lib/jquery-appear/src/jquery.appear.js"></script>
        <script src="~/lib/jquery-zoom/jquery.zoom.js"></script>
        <script src="~/lib/wheelzoom/wheelzoom.js"></script>
        <script src="~/lib/jquery-eu-cookie-law-popup/js/jquery-eu-cookie-law-popup.js"></script>
        <script src="~/lib/simplemde-custom-markdown-mode/dist/simplemde.min.js"></script>
        <script src="~/lib-custom/jq-simple-connect/source/jqSimpleConnect.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap-colorpicker-plus/dist/js/bootstrap-colorpicker.js"></script>
        <script src="~/lib/bootstrap-colorpicker-plus/dist/js/bootstrap-colorpicker-plus.js"></script>
        <script src="~/lib/s-pagination/dist/pagination.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script src="~/lib/dropzone/downloads/dropzone.js"></script>

        <environment names="Staging,Production">
            <script src="~/js/bundles/itjakub.keyboard.bundle.js"></script>
            <script src="~/js/bundles/itjakub.storage.bundle.js"></script>
            <script src="~/js/bundles/itjakub.bundle.js"></script>
            <script src="~/js/bundles/itjakub.plugins.bundle.js"></script>
            <script src="~/js/bundles/itjakub.favorite.bundle.js"></script>
        </environment>
        <environment names="Development">
            @*Bundle keyboard*@
            <script src="~/js/Plugins/Keyboard/itjakub.plugins.keyboard.js"></script>
            <script src="~/js/Plugins/Keyboard/itjakub.plugins.keyboardComponent.js"></script>
            <script src="~/js/Plugins/Keyboard/itjakub.plugins.keyboardManager.js"></script>

            @*Bundle storage*@
            <script src="~/js/Plugins/Storage/itjakub.plugins.storage.manager.js"></script>
            <script src="~/js/Plugins/Storage/itjakub.plugins.storage.cookiestorage.js"></script>
            <script src="~/js/Plugins/Storage/itjakub.plugins.storage.localstorage.js"></script>

            @*Bundle itjakub*@
            <script src="~/js/itjakub.js"></script>
            <script src="~/js/itjakub.dataContracts.js"></script>
            <script src="~/js/Plugins/itjakub.tools.js"></script>
            <script src="~/js/Plugins/itjakub.components.js"></script>
            <script src="~/js/Plugins/itjakub.eucookiepopup.js"></script>
            <script src="~/js/Plugins/itjakub.helper.js"></script>

            <script src="~/js/ridics.form-validation.js"></script>

            @*Bundle plugins*@
            <script src="~/js/Plugins/Progress/itjakub.plugins.progress.js"></script>
            <script src="~/js/Plugins/itjakub.modul.inicializator.js"></script>
            <script src="~/js/Plugins/itjakub.list.modul.inicializator.js"></script>
            <script src="~/js/Plugins/itjakub.search.modul.inicializator.js"></script>
            <script src="~/js/Plugins/Reader/itjakub.plugins.reader.js"></script>
            <script src="~/js/Plugins/Bibliography/itjakub.plugins.bibliography.variableInterpreter.js"></script>
            <script src="~/js/Plugins/Bibliography/itjakub.plugins.bibliography.factories.js"></script>
            <script src="~/js/Plugins/Bibliography/itjakub.plugins.bibliography.configuration.js"></script>
            <script src="~/js/Plugins/Bibliography/itjakub.plugins.bibliography.js"></script>
            <script src="~/js/Plugins/Sort/itjakub.plugins.sort.js"></script>
            <script src="~/js/Plugins/DropdownSelect/itjakub.plugins.dropdownselect.js"></script>
            <script src="~/js/Plugins/DropdownSelect/itjakub.plugins.dropdownselect2.js"></script>
            <script src="~/js/Plugins/RegExSearch/itjakub.plugins.regexsearch.js"></script>
            <script src="~/js/Plugins/SearchBox/itjakub.plugins.searchbox.js"></script>
            <script src="~/js/Plugins/SearchBox/itjakub.plugins.singlesearchbox.js"></script>

            @*Bundle favorite*@
            <script src="~/js/Favorite/itjakub.favoriteBook.js"></script>
            <script src="~/js/Favorite/itjakub.favoriteManager.js"></script>
            <script src="~/js/Favorite/itjakub.favoriteQuery.js"></script>
            <script src="~/js/Favorite/itjakub.favoriteStar.js"></script>
            <script src="~/js/Favorite/itjakub.newFavoriteDialog.js"></script>
            <script src="~/js/Favorite/itjakub.newFavoriteNotification.js"></script>
        </environment>

        @RenderSection("scripts", false)

        @*main page content*@
        <div class="container-header">
            <div class="container">
                @BreadcrumbsHelper.Create(Localizer, ViewBag.Title)
            </div>
        </div>
        <div class="container module-content">
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <a href='@Url.Action("Index", "Home", new {area = ""})' class="main_logo_href">
            <img src="@Url.Content("~/images/logo/main_logo.png")" alt="main_logo" /> @*TODO make logo small as this size*@
        </a>

        <div class="footer-text-area">
            <ul>
                <li class="footer-first">
                    <a href='@Url.Action("About", "Home", new {area = ""})'>@Localizer.Translate("AboutVW", "layout", LocTranslationSource.File)</a>
                </li>
                <li>
                    <a href='@Url.Action("Copyright", "Home", new {area = ""})'>@Localizer.Translate("Copyright", "layout", LocTranslationSource.File)</a>
                </li>
                <li>
                    <a href='@Url.Action("Contacts", "Home", new {area = ""})'>@Localizer.Translate("Contacts", "layout", LocTranslationSource.File)</a>
                </li>
                <li>
                    <a href='@Url.Action("Links", "Home", new {area = ""})'>@Localizer.Translate("Links", "layout", LocTranslationSource.File)</a>
                </li>
                <li>
                    <a href='@Url.Action("Support", "Home", new {area = ""})'>@Localizer.Translate("Support", "layout", LocTranslationSource.File)</a>
                </li>
                <li>
                    <a href='@Url.Action("HowToCite", "Home", new {area = ""})'>@Localizer.Translate("HowToCite", "layout", LocTranslationSource.File)</a>
                </li>
                <li>
                    <a href='@Url.Action("Feedback", "Home", new {area = ""})'>@Localizer.Translate("Feedback", "layout", LocTranslationSource.File)</a>
                </li>
                <li class="footer-last">
                    <a href='@Url.Action("Calendar", "News", new {area = ""})'>@Localizer.Translate("Events", "News", LocTranslationSource.File)</a>
                </li>
            </ul>
            <div class="footer-text">
                @{
                    string vokabularStartedNew = FooterHelper.VokabularStartedLocalized(Localizer, new DateTime(2015, 1, 1));
                }

                @Localizer.TranslateFormat("FooterText", new object[] { vokabularStartedNew }, "layout", LocTranslationSource.File)
            </div>
            <div class="footer-logos">
                <a href="http://www.ujc.cas.cz/" class="ujc" title="@Localizer.Translate("UjcLong", "layout")">
                    <img src="@Url.Content("~/images/logo/logo_ujc_white.png")" alt="@Localizer.Translate("UjcLong", "layout", LocTranslationSource.File)" />
                </a>
                <a href="https://www.fel.cvut.cz/cz/" class="fel" title="@Localizer.Translate("CtuFelLong", "layout")">
                    <img src="@Url.Content("~/images/logo/logo_fel_white.png")" alt="@Localizer.Translate("CtuFelLong", "layout", LocTranslationSource.File)" />
                </a>
                <a href="http://av21.avcr.cz/" class="av21" title="@Localizer.Translate("AvcrStrategyAV21","layout")">
                    <img src="@Url.Content("~/images/logo/logo_av21_white.png")" alt="@Localizer.Translate("AvcrStrategyAV21","layout", LocTranslationSource.File)" />
                </a>
                <a href="http://www.msmt.cz" class="msmt" title="@Localizer.Translate("MsmtLong","layout", LocTranslationSource.File)">
                    <img src="@Url.Content("~/images/logo/logo_msmt_white.png")" alt="@Localizer.Translate("MsmtLong","layout", LocTranslationSource.File)" />
                </a>
            </div>
        </div>
    </footer>

</body>
</html>