<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/itjakub/css")
        @RenderSection("styles", false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top navbar-top">
            <div class="container main-navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href='@Url.Action("Index", "Home", new {area = ""})' class="main_logo_href">
                        <img src="@Url.Content("~/Content/Images/logo.png")" alt="main_logo" class="main_logo" />   @*TODO make logo small as this size*@
                        <h3>Vokabulář webový</h3>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class=" navbar-fixed-top main-plugins-menu">
                <button onclick="window.location.href = '/Dictionaries'">Slovníky</button>
                <button onclick="window.location.href = '/Editions'">Edice</button>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/itjakub/javascript")
        @RenderSection("scripts", false)
    </body>
</html>