@using Microsoft.AspNetCore.Http.Extensions
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer

@{
    var requestUrl = Context.Request.GetDisplayUrl();
    var pathAndQuery = new Uri(requestUrl).PathAndQuery;
}


<div class="secondary-navbar-toggle language" title="@Localizer.Translate("Language", "global", LocTranslationSource.File)">
    <span class="glyphicon glyphicon-text-background"></span>
    <ul class="navbar-language">
        @foreach (var x in Localizer.GetSupportedCultures())
        {
            <li>
                @Html.ActionLink(x.NativeName, "SetLanguage", "Localization", new { area = "", culture = x.Name, returnUrl = pathAndQuery })
            </li>
        }
    </ul>
</div>
<div class="secondary-navbar-toggle login" title="@Localizer.Translate("UserAccount", "global", LocTranslationSource.File)">
    <span class="glyphicon glyphicon-user"></span>
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("LogOut", "Account", new { area = "" }, FormMethod.Post, true, new { id = "logoutForm", @class = "navbar-right" }))
        {

            <ul class="navbar-login">
                <li><a href="#">@Html.Raw(User.Identity.Name)</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">@Localizer.Translate("LogOut", "global", LocTranslationSource.File)</a></li>
            </ul>
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(pathAndQuery) && pathAndQuery != "/" && !pathAndQuery.StartsWith("/Account/"))
        {
            ViewBag.ReturnUrl = pathAndQuery;
        }
        <ul class="navbar-login">
            <li>@Html.ActionLink(Localizer.Translate("SignIn", "global", LocTranslationSource.File), "Login", "Account", new { area = "", returnUrl = ViewBag.ReturnUrl }, new { id = "loginLink" })</li>
            <li>@Html.ActionLink(Localizer.Translate("SignUp", "global", LocTranslationSource.File), "Register", "Account", new { area = "" }, new { id = "registerLink" })</li>
        </ul>
    }
</div>

