@using Microsoft.AspNetCore.Http.Extensions
@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@using Vokabular.Shared.AspNetCore.Extensions
@using Vokabular.Shared.Const
@model ITJakub.Web.Hub.Models.StaticTextViewModel
    
@inject ILocalization Localizer

<div class="static-text-container">
    <div class="static-text-panel">
        @if (User.HasPermission(PermissionNames.EditStaticText))
        {
            if (Model.IsRecordExists)
            {
                <a href="@Url.RouteUrl("Default", new {controller = "Text", action = "Editor", textName = Model.Name, scope = Model.Scope, pageUrl = Context.Request.GetDisplayUrl()})" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    @Localizer.Translate("EditText", "global", LocTranslationSource.File)
                </a>
            }
            else
            {
                <a href="@Url.RouteUrl("Default", new {controller = "Text", action = "Editor", textName = Model.Name, scope = Model.Scope, pageUrl = Context.Request.GetDisplayUrl()})" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    @Localizer.Translate("CreateText", "global", LocTranslationSource.File)
                </a>
            }
        }
    </div>

    @Html.Raw(Model.Text)
</div>
