@using ITJakub.Web.Hub.Constants

<div id="corpus-search-configuration" data-composition-page-size="@PageSizes.CorpusSearchBooks"
     data-page-size="@PageSizes.CorpusSearch" data-min-page-size="@PageSizes.MinCorpusSearch" data-max-page-size="@PageSizes.MaxCorpusSearch"
     data-context-length="@PageSizes.DefaultContextLength" data-min-context-length="@PageSizes.MinContextLength" data-max-context-length="@PageSizes.MaxContextLength">
</div>
