@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

@section styles{
    <link href="~/Areas/BohemianTextBank/css/itjakub.bohemiantextbank.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/BohemianTextBank/js/itjakub.bohemiantextbank.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("BohemianTextBankSearch", "BohemianTextBank");
}

@await Html.PartialAsync("_BibliographySearch")

<div class="corpus-search-div" id="corpus-search-div">
    <div class="corpus-search-setting-div">
        <div class="corpus-search-setting-div-label">@Localizer.Translate("ViewOptions", "BohemianTextBank")</div>
        <div class="corpus-search-setting-div-checkboxes">
            <div class="checkbox" style="display: none;">
                <label><input id="wordCheckbox" type="checkbox" value="">@Localizer.Translate("Word", "BohemianTextBank")</label>
            </div>
            <div class="checkbox">
                <label><input id="commentCheckbox" type="checkbox" value="">@Localizer.Translate("Comment", "BohemianTextBank")</label>
            </div>
            <div class="checkbox">
                <label><input id="languageCheckbox" type="checkbox" value="">@Localizer.Translate("Language", "BohemianTextBank")</label>
            </div>
            <div class="checkbox">
                <label><input id="structureCheckbox" type="checkbox" value="">@Localizer.Translate("TextStructure", "BohemianTextBank")</label>
            </div>
            <div class="checkbox">
                <label><input id="paragraphCheckbox" type="checkbox" value="">@Localizer.Translate("Paragraph", "BohemianTextBank")</label>
            </div>
        </div>
        <div class="corpus-search-setting-div-context" style="display:none">
            <label for="contextPositionsSelect">@Localizer.Translate("PositionsInContext", "BohemianTextBank");</label>
            <select id="contextPositionsSelect">
                <option value="20">20</option>
                <option value="50" selected="selected">50</option>
                <option value="70">70</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="corpus-search-setting-div-results-count">
            <div>@Localizer.Translate("NumberOfResults", "BohemianTextBank"): </div>
            <div id="totalResultCountDiv"></div>
        </div>
        <div class="corpus-search-setting-div-pagination pagination-extra-small" id="paginationContainer">
        </div>
    </div>
    <div class="corpus-search-results-div">
        <div id="corpus-search-results-abbrev-table-div" class="corpus-search-results-abbrev-table-div">
            <table id="result-abbrev-table">
                <tbody id="resultsAbbrevTableBody">
                </tbody>
            </table>
        </div>
        <div id="corpus-search-results-table-div" class="corpus-search-results-table-div">
            <div id="corpus-search-results-table-div-loader">
                @Localizer.Translate("UseSearchForResults", "BohemianTextBank")
            </div>
            <table id="result-table">
                <tbody id="resultsTableBody"></tbody>
            </table>
        </div>
        <div class="corpus-search-result-detail-div">
            <div class="corpus-search-detail">
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">@Localizer.Translate("Doc", "BohemianTextBank")</div>
                    <div class="corpus-table-cell">
                        <div class="corpus-search-detail">
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("Author", "BohemianTextBank")</div>
                                <div id="detail-author" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("Title", "BohemianTextBank")</div>
                                <div id="detail-title" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("DatingDetail", "BohemianTextBank")</div>
                                <div id="detail-dating" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("DatingCentury", "BohemianTextBank")</div>
                                <div id="detail-dating-century" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("DetailAbbr", "BohemianTextBank")</div>
                                <div id="detail-abbrev" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <a id="detail-edition-note-href" href="#">@Localizer.Translate("EditionNote", "BohemianTextBank")</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">@Localizer.Translate("Folio", "BohemianTextBank")</div>
                    <div id="detail-folio" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                </div>
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">@Localizer.Translate("Verse", "BohemianTextBank")</div>
                    <div id="detail-vers" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                </div>
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">@Localizer.Translate("BibleVerse", "BohemianTextBank")</div>
                    <div class="corpus-table-cell">
                        <div class="corpus-search-detail">
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("Book", "BohemianTextBank")</div>
                                <div id="detail-bible-vers-book" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("Chapter", "BohemianTextBank")</div>
                                <div id="detail-bible-vers-chapter" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">@Localizer.Translate("Verse", "BohemianTextBank")</div>
                                <div id="detail-bible-vers-vers" class="corpus-table-cell">&lt;@Localizer.Translate("NotFilled", "BohemianTextBank")&gt;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        initSearch();
    });
</script>