@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@model ITJakub.Web.Hub.Models.FeedbackViewModel

@inject ILocalization Localizer

<p>
    @using (Html.BeginForm("Feedback", Model.FormIdentification.Controller, new { area = Model.FormIdentification.Area }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }

        <div class="form-group">
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control feedback-text-area", @style = "margin-left: 15px; width:97%; min-height: 100px; max-width: 97%", @placeholder = Localizer.Translate("FeedbackFormPlaceholder", "global", LocTranslationSource.File) })
            <div class="col-md-4 feedback-field-validation-error" data-valmsg-for="Text" data-valmsg-replace="true"></div>
        </div>

        @await Html.PartialAsync("Plugins/_CharRemaining")

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @(User.Identity.IsAuthenticated ? Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = Localizer.Translate("NameFormPlaceholder", "global", LocTranslationSource.File), @readonly = "readonly" }) : Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = Localizer.Translate("NameFormPlaceholder", "global", LocTranslationSource.File) }))
            </div>
            <div class="col-md-4 feedback-field-validation-error" data-valmsg-for="Name" data-valmsg-replace="true"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @(User.Identity.IsAuthenticated ? Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Localizer.Translate("EmailFormPlaceholder", "global", LocTranslationSource.File), @readonly = "readonly" }) : Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Localizer.Translate("EmailFormPlaceholder", "global", LocTranslationSource.File) }))
            </div>
            <div class="col-md-4 feedback-field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true"></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-9 col-md-2">
                <input type="submit" value="@Localizer.Translate("Send", "global",LocTranslationSource.File)" class="btn btn-default">
            </div>
        </div>
    }
</p>