@using ITJakub.MVCWebLayer.Enums
@model ITJakub.MVCWebLayer.ViewModels.SearchSourceDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Hledat)
    <div id="source-detail-content">
        @Html.Partial("~/Views/Shared/_SourceDetailSearchPanel.cshtml", Model)
        <div id="source-detail-search-results">
            @if (Model.ShowResults)
            {
                <p class="well">@Model.SearchTerm</p>
                foreach (var result in Model.SearchResults)
                {
  
                  <div class="row-fluid">
                    <div class="span12 well well-search">
                        <div class="btn-sources-top">
                            <a class="btn pull-right" href="@Url.RouteUrl("SourcesGoThrough", new { id = result.Id })">Přejít na obsah</a>
                            @*<p><strong></strong></p>*@
                        </div>
                        <p>
                             @(new HtmlString(result.HtmlContext))
                        </p>
                    </div>
                </div>
                    
                    
                }
                
                
            }
        </div>
    </div>
</div>