@using Ujc.Naki.MVCWebLayer.Services
@using Ujc.Naki.MVCWebLayer.Enums

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ujc.Naki.MVCWebLayer.ViewModels.ListSourcesViewModel

@Html.Partial("~/Views/Shared/_SourcesSearchPanel.cshtml")

<div id="main-content">
    Procházet podle @Html.DropDownList("ViewMode", GetSourcesViewModes())
    <table id="alphabet-menu" cellpadding="0" cellspacing="0">
        <tr>
            @foreach (var alphabet in Model.Alphabet)
            {
                <td><a @(string.Equals(ViewContext.RouteData.Values["alphabet"].ToString(), alphabet, StringComparison.InvariantCultureIgnoreCase) ? "class=selected" : "") href="@Url.RouteUrl("SourcesListing", new {mode = Model.ViewMode, alphabet = alphabet})">@alphabet</a></td>
            }
        </tr>
    </table>

    @foreach (var source in Model.FoundSources)
    {
        <div class="source-small">
            <h4>@source.Title</h4>
            <span class="author">@source.Author</span><br />
            <span class="datation">@source.Datation</span><br />
            <p>@source.Perex</p>

            <div class="buttons">
                <a href="/Sources/Detail/1-zizka">Detail</a>
                <a href="/Sources/Prochazet">Procházet</a>
            </div>
        </div>
    }

</div>

@functions
{

    IEnumerable<SelectListItem> GetSourcesViewModes()
    {
        var data = Enum.GetValues(typeof(SourcesViewMode)).Cast<SourcesViewMode>().Select(v => new SelectListItem
        {
            Text = v.ToCzechString(),
            Value = v.ToString(),
        }).ToList();

        return data;
    }

}