@using ITJakub.MVCWebLayer.Enums
@using ITJakub.MVCWebLayer.ViewModels
@model SourcesContentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
     @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Prochazet)
    <div id="source-detail-content">
        <p>@(new HtmlString(Model.Content))</p>
        <ul class="pager sources-prochazet">
            <li class="previous@(Model.First ? " disabled":"")">
                <a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.GetPrevPage()})">Předchozí stránka</a>
            </li>
            <li class="next@(Model.Last ? " disabled":"")">
                <a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.GetNextPage()})">Další stránka</a>
            </li>
        </ul>

        <div class="pagination text-center">
            <ul>
                @if (!Model.First)
                {
                <li@(Model.First ? " class=\"disabled\"":"")><a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.FirstPage})">@Model.FirstPage</a></li>
                <li class="disabled"><a href="#">&hellip;</a></li>
                }
                <li class="disabled"><a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.CurrentPage})">@Model.CurrentPage</a></li>
                @if (!Model.Last)
                {
                <li class="disabled"><a href="#">&hellip;</a></li>
                <li@(Model.Last ? " class=\"disabled\"":"")><a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.LastPage})">@Model.LastPage</a></li>
                }
             </ul>
        </div>
    </div>
</div>