@using ITJakub.MVCWebLayer.Enums
@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
     @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Prochazet)
    <div id="source-detail-content">
        <h4>Jedenádctý</h4>
        <p>
            @(new HtmlString(@Model))
        </p>
        
        <ul class="pager sources-prochazet">
            <li class="previous">
                <a href="@Url.RouteUrl("SourcesGoThrough", new { id = "1-zizka", page = "1"})">Předchozí stránka</a>
            </li>
            <li class="next">
                <a href="@Url.RouteUrl("SourcesGoThrough", new { id = "1-zizka", page = "5"})">Další stránka</a>
            </li>
        </ul>

        <div class="pagination text-center">
            <ul>
                <li><a href="@Url.RouteUrl("SourcesGoThrough", new { id = "1-zizka", page = "1"})">1</a></li>
                <li class="disabled"><a href="#">&hellip;</a></li>
                <li><a href="@Url.RouteUrl("SourcesGoThrough", new { id = "1-zizka", page = "23"})">23</a></li>
                <li class="disabled"><a href="#">&hellip;</a></li>
                <li><a href="@Url.RouteUrl("SourcesGoThrough", new { id = "1-zizka", page = "87"})">87</a></li>
             </ul>
        </div>
    </div>
</div>