@using ITJakub.MVCWebLayer.Enums
@using ITJakub.MVCWebLayer.ViewModels
@model SourcesContentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
     @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Prochazet)
    <div id="source-detail-content">
        <h4>Jedenádctý</h4>
        <p>
            @(new HtmlString(Model.Content))
        </p>
        
        <ul class="pager sources-prochazet">
            <li class="previous@(Model.first() ? " disabled":"")">
                <a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.PrevPage()})">Předchozí stránka</a>
            </li>
            <li class="next@(Model.last() ? " disabled":"")">
                <a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.NextPage()})">Další stránka</a>
            </li>
        </ul>

        <div class="pagination text-center">
            <ul>
                @if (!Model.first())
                {
                <li@(Model.first() ? " class=\"disabled\"":"")><a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.FirstPage()})">@Model.FirstPage()</a></li>
                <li class="disabled"><a href="#">&hellip;</a></li>
                }
                <li class="disabled"><a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.CurrentPage()})">@Model.CurrentPage()</a></li>
                @if (!Model.last())
                {
                <li class="disabled"><a href="#">&hellip;</a></li>
                <li@(Model.last() ? " class=\"disabled\"":"")><a href="@Url.RouteUrl("SourcesGoThrough", new { id = Model.Id, page = Model.LastPage()})">@Model.LastPage()</a></li>
                }
             </ul>
        </div>
    </div>
</div>