@using ITJakub.MVCWebLayer.Enums
@using Jewelery

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ITJakub.MVCWebLayer.ViewModels.SearchSourcesViewModel

@Html.Partial("~/Views/Shared/_SourcesSearchPanel.cshtml", Model)

<div id="main-content">
    
    <a href="@Url.RouteUrl("SourcesMain")"><i class="icon-remove"></i> Zrušit vyhledávání</a>

    <br /><br />

    @foreach (var source in Model.FoundSources)
    {
        <div class="row-fluid">
            <div class="span12 well well-search">
                <h4>@source.Title</h4>
                <span class="author">@source.Author</span><br />
                <div class="pull-right">
                    <a class="btn" href="@Url.RouteUrl("SourcesDetail", new { id = @source.Id })">Detail</a>
                    <a class="btn" href="@Url.RouteUrl("SourcesGoThrough", new { id = @source.Id, page = 1 })">Procházet</a>
                </div>
            </div>
        </div>
    }

</div>

@*@functions
{

    IEnumerable<SelectListItem> GetSourcesViewTypes()
    {
        var data = Enum.GetValues(typeof(SourcesViewType)).Cast<SourcesViewType>().Select(v => new SelectListItem
        {
            Text = v.GetStringValue(),
            Value = v.ToString(),
        }).ToList();

        return data;
    }

}*@