@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@model ITJakub.Web.Hub.Models.UploadViewModel
    
@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("UploadManagementTitle", "Upload", LocTranslationSource.File);
}
@section scripts{
    <script src="~/js/itjakub.upload.js"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/ITJakub.UploadBook.css" />
}

<div class="content-container">
    <h2>@Localizer.Translate("BookUploadHeader", "Upload", LocTranslationSource.File)</h2>
    
    <div class="centered">
        <div id="upload">
            <p> @Localizer.Translate("UploadHint", "Upload", LocTranslationSource.File)</p>

            <form action="@Url.Action("UploadFile", "Upload")" method="post" class="dropzone" enctype="multipart/form-data" id="dropzoneFileForm">
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
                <div class="additionalData hidden">
                    <input type="hidden" id="sessionId" name="sessionId" value="@Model.SessionId"/>
                </div>
            </form>

            <input type="text" id="uploadMessage" name="bookVeuploadMessagersionMessage" placeholder="@Localizer.Translate("NewVersionMessage", "Upload", LocTranslationSource.File)" style="width: 400px; height: 28px;"/>

            <button id="ProcessUploadedButton" type="button" class="btn btn-default" disabled>
                @Localizer.Translate("Process", "Upload", LocTranslationSource.File)
            </button>
        </div>
        <div id="processing" style="display: none">
            <div id="progressbar"></div>
            <h2>@Localizer.Translate("Processing", "Upload", LocTranslationSource.File)</h2>
        </div>

        <div id="done" style="display: none">
            <div class="alert alert-success success" style="display: none">
                <h2>@Localizer.Translate("ProcessingOk", "Upload", LocTranslationSource.File)</h2>
            </div>
            
            <div class="alert alert-danger error" style="display: none">
                <h2>@Localizer.Translate("ProcessingFailed", "Upload", LocTranslationSource.File)</h2>
                <div class="message"></div>
            </div>
        </div>

        <div id="music"></div>
        </div>
</div>