@using ITJakub.Web.Hub.Models
@model NewsSyndicationItemViewModel

@{
    ViewBag.Title = "Administrace - Přidat novinku";
}

<div class="content-container">
    <h1>Přidat novinku</h1>

    <p>
        @using (Html.BeginForm("Add", "News", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ItemType, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10 selectContainer">
                        @Html.DropDownListFor(model => model.ItemType, Html.GetEnumSelectList<NewsTypeContractViewEnum>(), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control news-text-area", @style = "min-height: 100px", @placeholder = "Zde napište text novinky..." })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-area-info" style="float: right;margin-right:140px;">
                        Max. <span class="text-area-max-chars"></span> znaků <br />
                        Zbývá: <span class="text-area-remaining-chars" style="color: lightseagreen"></span> znaků <br />
                        Můžete používat diakritiku
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-10 col-md-1">
                        <input type="submit" value="Přidat" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
   </p>
</div>



<script>
    $(document).ready(function () {
        var maxChars = $(".news-text-area").attr("data-val-maxlength-max");
        $(".text-area-max-chars").html(maxChars);
        $(".text-area-remaining-chars").html(maxChars);

        $(".news-text-area").keyup(function () {
            var text = $(this).val() as string;
            var actualCharsRemaining = maxChars - text.length;
            if (actualCharsRemaining < 0) {
                actualCharsRemaining = 0;
                $(this).val(text.substring(0,maxChars));
            }
            $(".text-area-remaining-chars").html(actualCharsRemaining);
        });

    });
</script>