@using Localization.AspNetCore.Service
@inject ILocalization Localizer

@{
    ViewBag.Title = @Localizer.Translate("Lemmatization", "Lemmatization");
}
@section styles{
    <link href="~/Areas/Lemmatization/css/itjakub.lemmatization.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Lemmatization/js/itjakub.lemmatization.bundle.js"></script>
}

<script type="text/javascript">
    $(document).ready(function() {
        initLemmatization("@Context.Request.Query["tokenId"]");
    });
</script>

<h2>Lemmatizace</h2>

<div class="lemmatization-search-bar">
    <div class="lemmatization-main-buttons">
        <button id="addNewTokenButton" class="hidden btn btn-default lemmatization-button">@Localizer.Translate("Create", "Lemmatization")</button>
        <button id="loadButton" class="btn btn-default lemmatization-button hidden">@Localizer.Translate("Load", "Lemmatization")</button>
    </div>
    <div class="lemmatization-search input_container">
        <input type="text" class="form-control lemmatization-search-input keyboard-input" id="mainSearchInput" data-keyboard-id="0"/>
        <button type="button" class="btn regexsearch-input-button" id="keyboard-button" style="right: 8px;">
            <div class="custom-glyphicon-keyboard" style="height: 100%;"></div>
        </button>
    </div>
</div>
<div class="content hidden lemmatization-token-info">
    <div>
        <span class="lemmatization-label">Token: </span>
        <span class="lemmatization-token" id="specificToken"></span>
    </div>
    <div>
        <span class="lemmatization-label lemmatization-label-description">@Localizer.Translate("Description", "Lemmatization"): </span>
        <span class="lemmatization-description" id="specificTokenDescription"></span>
    </div>
    <div>
        <button class="lemmatization-edit lemmatiazation-small-left-space" id="showEditToken">@Localizer.Translate("Modify", "Lemmatization")</button>
    </div>
</div>
<div class="content hidden">
    <h3>@Localizer.Translate("Characteristics", "Lemmatization")</h3>
    <div id="mainContainer"></div>
    <div>
        <button class="btn btn-default lemmatization-button" id="addNewCharacteristic">@Localizer.Translate("AddNewCharacteristics", "Lemmatization")</button>
    </div>
</div>


<div id="newTokenDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("Newtoken", "Lemmatization")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="new-token" class="col-md-3 control-label">@Localizer.Translate("Token", "Lemmatization")</label>
                        <div class="col-md-8">
                            <input class="form-control" id="new-token" name="new-text" type="text" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-token-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                        <div class="col-md-8">
                            <input class="form-control" id="new-token-description" name="new-description" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")</button>
                <button type="button" class="btn btn-default lemmatization-button" id="save-token">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>

<div id="editTokenDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("ModifyToken", "Lemmatization")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="edit-token-text" class="col-md-3 control-label">@Localizer.Translate("Token", "Lemmatization")</label>
                        <div class="col-md-8">
                            <input class="form-control" id="edit-token-text" type="text" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-token-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                        <div class="col-md-8">
                            <input class="form-control" id="edit-token-description" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")</button>
                <button type="button" class="btn btn-default lemmatization-button" id="save-edited-token">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>

<div id="newTokenCharacteristic" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("MorfologicCharacteristic", "Lemmatization")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-characteristic">
                    <div class="form-group">
                        <label for="new-token-text-description" class="col-md-4 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                        <div class="col-md-7">
                            <textarea class="form-control" id="new-token-text-description" name="new-token-text-description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-0" class="col-md-4 control-label">@Localizer.Translate("WordKind", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-0" name="description-0" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="N">@Localizer.Translate("WordKind/N", "Lemmatization")</option>
                                <option value="A">@Localizer.Translate("WordKind/A", "Lemmatization")</option>
                                <option value="P">@Localizer.Translate("WordKind/P", "Lemmatization")</option>
                                <option value="C">@Localizer.Translate("WordKind/C", "Lemmatization")</option>
                                <option value="V">@Localizer.Translate("WordKind/V", "Lemmatization")</option>
                                <option value="D">@Localizer.Translate("WordKind/D", "Lemmatization")</option>
                                <option value="R">@Localizer.Translate("WordKind/R", "Lemmatization")</option>
                                <option value="J">@Localizer.Translate("WordKind/J", "Lemmatization")</option>
                                <option value="T">@Localizer.Translate("WordKind/T", "Lemmatization")</option>
                                <option value="I">@Localizer.Translate("WordKind/I", "Lemmatization")</option>
                                <option value="Z">@Localizer.Translate("WordKind/Z", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("WordKind/X", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-1" class="col-md-4 control-label">@Localizer.Translate("WordKindDetail", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-1" name="description-1" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="!">@Localizer.Translate("WordKindDetail/!", "Lemmatization")</option>
                                <option value="#">@Localizer.Translate("WordKindDetail/#", "Lemmatization")</option>
                                <option value="*">@Localizer.Translate("WordKindDetail/*", "Lemmatization")</option>
                                <option value=",">@Localizer.Translate("WordKindDetail/,", "Lemmatization")</option>
                                <option value=".">@Localizer.Translate("WordKindDetail/.", "Lemmatization")</option>
                                <option value=":">@Localizer.Translate("WordKindDetail/:", "Lemmatization")</option>
                                <option value=";">@Localizer.Translate("WordKindDetail/;", "Lemmatization")</option>
                                <option value="=">@Localizer.Translate("WordKindDetail/=", "Lemmatization")</option>
                                <option value="?">@Localizer.Translate("WordKindDetail/?", "Lemmatization")</option>
                                <option value="^">@Localizer.Translate("WordKindDetail/^", "Lemmatization")</option>
                                <option value="}">@Localizer.Translate("WordKindDetail/}", "Lemmatization")</option>
                                <option value="~">@Localizer.Translate("WordKindDetail/~", "Lemmatization")</option>
                                <option value="@Html.Raw("@")">@Localizer.Translate("WordKindDetail/@@", "Lemmatization")</option>
                                <option value="0">@Localizer.Translate("WordKindDetail/0", "Lemmatization")</option>
                                <option value="1">@Localizer.Translate("WordKindDetail/1", "Lemmatization")</option>
                                <option value="2">@Localizer.Translate("WordKindDetail/2", "Lemmatization")</option>
                                <option value="3">@Localizer.Translate("WordKindDetail/3", "Lemmatization")</option>
                                <option value="4">@Localizer.Translate("WordKindDetail/4", "Lemmatization")</option>
                                <option value="5">@Localizer.Translate("WordKindDetail/5", "Lemmatization")</option>
                                <option value="6">@Localizer.Translate("WordKindDetail/6", "Lemmatization")</option>
                                <option value="7">@Localizer.Translate("WordKindDetail/7", "Lemmatization")</option>
                                <option value="8">@Localizer.Translate("WordKindDetail/8", "Lemmatization")</option>
                                <option value="9">@Localizer.Translate("WordKindDetail/9", "Lemmatization")</option>
                                <option value="A">@Localizer.Translate("WordKindDetail/A", "Lemmatization")</option>
                                <option value="B">@Localizer.Translate("WordKindDetail/B", "Lemmatization")</option>
                                <option value="C">@Localizer.Translate("WordKindDetail/C", "Lemmatization")</option>
                                <option value="D">@Localizer.Translate("WordKindDetail/D", "Lemmatization")</option>
                                <option value="E">@Localizer.Translate("WordKindDetail/E", "Lemmatization")</option>
                                <option value="F">@Localizer.Translate("WordKindDetail/F", "Lemmatization")</option>
                                <option value="G">@Localizer.Translate("WordKindDetail/G", "Lemmatization")</option>
                                <option value="H">@Localizer.Translate("WordKindDetail/H", "Lemmatization")</option>
                                <option value="I">@Localizer.Translate("WordKindDetail/I", "Lemmatization")</option>
                                <option value="J">@Localizer.Translate("WordKindDetail/J", "Lemmatization")</option>
                                <option value="K">@Localizer.Translate("WordKindDetail/K", "Lemmatization")</option>
                                <option value="L">@Localizer.Translate("WordKindDetail/L", "Lemmatization")</option>
                                <option value="M">@Localizer.Translate("WordKindDetail/M", "Lemmatization")</option>
                                <option value="N">@Localizer.Translate("WordKindDetail/N", "Lemmatization")</option>
                                <option value="O">@Localizer.Translate("WordKindDetail/O", "Lemmatization")</option>
                                <option value="P">@Localizer.Translate("WordKindDetail/P", "Lemmatization")</option>
                                <option value="Q">@Localizer.Translate("WordKindDetail/Q", "Lemmatization")</option>
                                <option value="R">@Localizer.Translate("WordKindDetail/R", "Lemmatization")</option>
                                <option value="S">@Localizer.Translate("WordKindDetail/S", "Lemmatization")</option>
                                <option value="T">@Localizer.Translate("WordKindDetail/T", "Lemmatization")</option>
                                <option value="U">@Localizer.Translate("WordKindDetail/U", "Lemmatization")</option>
                                <option value="V">@Localizer.Translate("WordKindDetail/V", "Lemmatization")</option>
                                <option value="W">@Localizer.Translate("WordKindDetail/W", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("WordKindDetail/X", "Lemmatization")</option>
                                <option value="Y">@Localizer.Translate("WordKindDetail/Y", "Lemmatization")</option>
                                <option value="Z">@Localizer.Translate("WordKindDetail/Z", "Lemmatization")</option>
                                <option value="a">@Localizer.Translate("WordKindDetail/a", "Lemmatization")</option>
                                <option value="b">@Localizer.Translate("WordKindDetail/b", "Lemmatization")</option>
                                <option value="c">@Localizer.Translate("WordKindDetail/c", "Lemmatization")</option>
                                <option value="d">@Localizer.Translate("WordKindDetail/d", "Lemmatization")</option>
                                <option value="e">@Localizer.Translate("WordKindDetail/e", "Lemmatization")</option>
                                <option value="f">@Localizer.Translate("WordKindDetail/f", "Lemmatization")</option>
                                <option value="g">@Localizer.Translate("WordKindDetail/g", "Lemmatization")</option>
                                <option value="h">@Localizer.Translate("WordKindDetail/h", "Lemmatization")</option>
                                <option value="i">@Localizer.Translate("WordKindDetail/i", "Lemmatization")</option>
                                <option value="j">@Localizer.Translate("WordKindDetail/j", "Lemmatization")</option>
                                <option value="k">@Localizer.Translate("WordKindDetail/k", "Lemmatization")</option>
                                <option value="l">@Localizer.Translate("WordKindDetail/l", "Lemmatization")</option>
                                <option value="m">@Localizer.Translate("WordKindDetail/m", "Lemmatization")</option>
                                <option value="n">@Localizer.Translate("WordKindDetail/n", "Lemmatization")</option>
                                <option value="o">@Localizer.Translate("WordKindDetail/o", "Lemmatization")</option>
                                <option value="p">@Localizer.Translate("WordKindDetail/p", "Lemmatization")</option>
                                <option value="q">@Localizer.Translate("WordKindDetail/q", "Lemmatization")</option>
                                <option value="r">@Localizer.Translate("WordKindDetail/r", "Lemmatization")</option>
                                <option value="s">@Localizer.Translate("WordKindDetail/s", "Lemmatization")</option>
                                <option value="t">@Localizer.Translate("WordKindDetail/t", "Lemmatization")</option>
                                <option value="u">@Localizer.Translate("WordKindDetail/u", "Lemmatization")</option>
                                <option value="v">@Localizer.Translate("WordKindDetail/v", "Lemmatization")</option>
                                <option value="w">@Localizer.Translate("WordKindDetail/w", "Lemmatization")</option>
                                <option value="x">@Localizer.Translate("WordKindDetail/x", "Lemmatization")</option>
                                <option value="y">@Localizer.Translate("WordKindDetail/y", "Lemmatization")</option>
                                <option value="z">@Localizer.Translate("WordKindDetail/z", "Lemmatization")</option>
                                <option value="$">@Localizer.Translate("WordKindDetail/$", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-2" class="col-md-4 control-label">@Localizer.Translate("JmennyRod", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-2" name="description-2" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="M">@Localizer.Translate("JmennyRod/M", "Lemmatization")</option>
                                <option value="I">@Localizer.Translate("JmennyRod/I", "Lemmatization")</option>
                                <option value="F">@Localizer.Translate("JmennyRod/F", "Lemmatization")</option>
                                <option value="N">@Localizer.Translate("JmennyRod/N", "Lemmatization")</option>
                                <option value="H">@Localizer.Translate("JmennyRod/H", "Lemmatization")</option>
                                <option value="Q">@Localizer.Translate("JmennyRod/Q", "Lemmatization")</option>
                                <option value="T">@Localizer.Translate("JmennyRod/T", "Lemmatization")</option>
                                <option value="Y">@Localizer.Translate("JmennyRod/Y", "Lemmatization")</option>
                                <option value="Z">@Localizer.Translate("JmennyRod/Z", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("JmennyRod/X", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-3" class="col-md-4 control-label">@Localizer.Translate("Cislo", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-3" name="description-3" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="S">@Localizer.Translate("Cislo/S", "Lemmatization")</option>
                                <option value="P">@Localizer.Translate("Cislo/P", "Lemmatization")</option>
                                <option value="D">@Localizer.Translate("Cislo/D", "Lemmatization")</option>
                                <option value="W">@Localizer.Translate("Cislo/W", "Lemmatization") </option>
                                <option value="X">@Localizer.Translate("Cislo/X", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-4" class="col-md-4 control-label">@Localizer.Translate("Pad", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-4" name="description-4" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="1">@Localizer.Translate("Pad/1", "Lemmatization")</option>
                                <option value="2">@Localizer.Translate("Pad/2", "Lemmatization")</option>
                                <option value="3">@Localizer.Translate("Pad/3", "Lemmatization")</option>
                                <option value="4">@Localizer.Translate("Pad/4", "Lemmatization")</option>
                                <option value="5">@Localizer.Translate("Pad/5", "Lemmatization")</option>
                                <option value="6">@Localizer.Translate("Pad/6", "Lemmatization")</option>
                                <option value="7">@Localizer.Translate("Pad/7", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("Pad/X", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-5" class="col-md-4 control-label">@Localizer.Translate("PrivlastnovaciRod", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-5" name="description-5" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="M">@Localizer.Translate("PrivlastnovaciRod/M", "Lemmatization")</option>
                                <option value="F">@Localizer.Translate("PrivlastnovaciRod/F", "Lemmatization")</option>
                                <option value="Z">@Localizer.Translate("PrivlastnovaciRod/Z", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("PrivlastnovaciRod/X", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-6" class="col-md-4 control-label">@Localizer.Translate("PrivlastnovaciCislo", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-6" name="description-6" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="S">@Localizer.Translate("PrivlastnovaciCislo/S", "Lemmatization")</option>
                                <option value="P">@Localizer.Translate("PrivlastnovaciCislo/P", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-7" class="col-md-4 control-label">@Localizer.Translate("Osoba", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-7" name="description-7" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="1">@Localizer.Translate("Osoba/1", "Lemmatization")</option>
                                <option value="2">@Localizer.Translate("Osoba/2", "Lemmatization")</option>
                                <option value="3">@Localizer.Translate("Osoba/3", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("Osoba/X", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-8" class="col-md-4 control-label">@Localizer.Translate("Cas", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-8" name="description-8" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="R">@Localizer.Translate("Cas/R", "Lemmatization")</option>
                                <option value="H">@Localizer.Translate("Cas/H", "Lemmatization")</option>
                                <option value="P">@Localizer.Translate("Cas/P", "Lemmatization")</option>
                                <option value="F">@Localizer.Translate("Cas/F", "Lemmatization")</option>
                                <option value="X">@Localizer.Translate("Cas/X", "Lemmatization")</option>
                                <option value="A">@Localizer.Translate("Cas/A", "Lemmatization")</option>
                                <option value="I">@Localizer.Translate("Cas/I", "Lemmatization")</option>
                                <option value="E">@Localizer.Translate("Cas/E", "Lemmatization")</option>
                                <option value="Q">@Localizer.Translate("Cas/Q", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-9" class="col-md-4 control-label">@Localizer.Translate("Stupen", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-9" name="description-9" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="1">@Localizer.Translate("Stupen/1", "Lemmatization")</option>
                                <option value="2">@Localizer.Translate("Stupen/2", "Lemmatization")</option>
                                <option value="3">@Localizer.Translate("Stupen/3", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-10" class="col-md-4 control-label">@Localizer.Translate("Negace", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-10" name="description-10" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="A">@Localizer.Translate("Negace/A", "Lemmatization")</option>
                                <option value="N">@Localizer.Translate("Negace/N", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-11" class="col-md-4 control-label">@Localizer.Translate("AktivumPasivum", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-11" name="description-11" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="A">@Localizer.Translate("AktivumPasivum/A", "Lemmatization")</option>
                                <option value="P">@Localizer.Translate("AktivumPasivum/P", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-12" class="col-md-4 control-label">@Localizer.Translate("Unused", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-12" name="description-12" class="form-control">
                                <option selected value="-"> - </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-13" class="col-md-4 control-label">@Localizer.Translate("Unused", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-13" name="description-13" class="form-control">
                                <option selected value="-"> - </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-14" class="col-md-4 control-label">@Localizer.Translate("Varianta", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-14" name="description-14" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="1">@Localizer.Translate("Varianta/1", "Lemmatization")</option>
                                <option value="2">@Localizer.Translate("Varianta/2", "Lemmatization")</option>
                                <option value="3">@Localizer.Translate("Varianta/3", "Lemmatization")</option>
                                <option value="4">@Localizer.Translate("Varianta/4", "Lemmatization")</option>
                                <option value="5">@Localizer.Translate("Varianta/5", "Lemmatization")</option>
                                <option value="6">@Localizer.Translate("Varianta/6", "Lemmatization")</option>
                                <option value="7">@Localizer.Translate("Varianta/7", "Lemmatization")</option>
                                <option value="8">@Localizer.Translate("Varianta/8", "Lemmatization")</option>
                                <option value="9">@Localizer.Translate("Varianta/9", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-15" class="col-md-4 control-label">@Localizer.Translate("Vid", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-15" name="description-15" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="P">@Localizer.Translate("Vid/P", "Lemmatization")</option>
                                <option value="I">@Localizer.Translate("Vid/I", "Lemmatization")</option>
                                <option value="B">@Localizer.Translate("Vid/B", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description-16" class="col-md-4 control-label">@Localizer.Translate("TypSlovesa", "Lemmatization")</label>
                        <div class="col-md-7">
                            <select id="description-16" name="description-16" class="form-control">
                                <option selected value="-"> - </option>
                                <option value="S">@Localizer.Translate("TypSlovesa/S", "Lemmatization")</option>
                                <option value="H">@Localizer.Translate("TypSlovesa/H", "Lemmatization")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4"></label>
                        <div class="col-md-7 lemmatization-result-tag" id="result-characteristic-tag"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")</button>
                <button type="button" class="btn btn-default lemmatization-button" id="saveCharacteristic">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>

<div id="newCanonicalFormDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("NewCannonicalForm", "Lemmatization")</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-select-existing" data-toggle="tab">@Localizer.Translate("ExistingSelection", "Lemmatization")</a>
                    </li>
                    <li>
                        <a href="#tab-create-new" data-toggle="tab">@Localizer.Translate("NewCreation", "Lemmatization")</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab-select-existing" class="tab-pane active">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="new-form-existing-type" class="col-md-3 control-label">@Localizer.Translate("Type", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="new-form-existing-type"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-form-existing-input" class="col-md-3 control-label">@Localizer.Translate("SelectExisting", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="new-form-existing-input" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-form-existing-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="new-form-existing-description" disabled="disabled"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-create-new" class="tab-pane">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="new-form" class="col-md-3 control-label">@Localizer.Translate("CannonicalForm", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="new-form" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-form-type" class="col-md-3 control-label">@Localizer.Translate("Type", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="new-form-type"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-form-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="new-form-description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")</button>
                <button type="button" class="btn btn-default lemmatization-button" id="save-form">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>

<div id="editCanonicalFormDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("ModifyCannonicalForm", "Lemmatization")</h4>
            </div>
            <div class="modal-body">
                <h5>@Localizer.Translate("WarningCannonicalForm", "Lemmatization")</h5>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="edit-form-text" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                        <div class="col-md-8">
                            <input class="form-control" id="edit-form-text" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-form-type" class="col-md-3 control-label">@Localizer.Translate("Type", "Lemmatization")</label>
                        <div class="col-md-8">
                            <select class="form-control" id="edit-form-type"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-form-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="edit-form-description" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")</button>
                <button type="button" class="btn btn-default lemmatization-button" id="save-edited-form">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>

<div id="newHyperCanonicalFormDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("SetupHyperCannonicalForm", "Lemmatization")</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab2-select-existing" data-toggle="tab">@Localizer.Translate("ExistingSelectionF", "Lemmatization")</a>
                    </li>
                    <li>
                        <a href="#tab2-create-new" data-toggle="tab">@Localizer.Translate("NewCreationF", "Lemmatization")</a>
                    </li>
                    <li>
                        <a href="#tab2-remove" data-toggle="tab">@Localizer.Translate("Remove", "Lemmatization")</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab2-select-existing" class="tab-pane active">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="new-hyper-existing-type" class="col-md-3 control-label">@Localizer.Translate("Type", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="new-hyper-existing-type"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-hyper-existing-input" class="col-md-3 control-label">@Localizer.Translate("SelectExisting", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="new-hyper-existing-input" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-hyper-existing-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="new-hyper-existing-description" disabled="disabled"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2-create-new" class="tab-pane">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="new-hyper" class="col-md-3 control-label">@Localizer.Translate("CannonicalForm", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="new-hyper" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-hyper-type" class="col-md-3 control-label">@Localizer.Translate("Type", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="new-hyper-type"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-hyper-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="new-hyper-description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2-remove" class="tab-pane">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 control-label"></div>
                                <div>
                                    <button type="button" class="btn btn-default lemmatization-button" id="remove-hyper">@Localizer.Translate("RemoveHyperCannonicalForm", "Lemmatization")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")</button>
                <button type="button" class="btn btn-default lemmatization-button" id="save-hyper">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>

<div id="editHyperCanonicalFormDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("ModifyHyperCannonicalForm", "Lemmatization")y</h4>
            </div>
            <div class="modal-body">
                <h5>@Localizer.Translate("WarningHyperCannonicalForm", "Lemmatization")</h5>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="edit-hyper-text" class="col-md-3 control-label">@Localizer.Translate("CannonicalForm", "Lemmatization")</label>
                        <div class="col-md-8">
                            <input class="form-control" id="edit-hyper-text" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-hyper-type" class="col-md-3 control-label">@Localizer.Translate("Type", "Lemmatization")</label>
                        <div class="col-md-8">
                            <select class="form-control" id="edit-hyper-type"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-hyper-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Lemmatization")</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="edit-hyper-description" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default lemmatization-button" data-dismiss="modal">@Localizer.Translate("Close", "Lemmatization")t</button>
                <button type="button" class="btn btn-default lemmatization-button" id="save-edited-hyper">@Localizer.Translate("Save", "Lemmatization")</button>
            </div>
        </div>
    </div>
</div>