@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

@section styles{
    <link href="~/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("CardFilesSearching", "CardFiles");
}



    <div class="search-area">
        <div id="cardfileSearchDiv">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            @Localizer.Translate("Search", "CardFiles")
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="@Localizer.Translate("Find", "CardFiles")..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="cardfile-selects" style="margin-top: 50px; clear: both;">
    </div>
    <div class="no-result">
        @Localizer.Translate("NoResults", "CardFiles")...
    </div>
    <div class="nothing-selected">
        @Localizer.Translate("NoCardFileSelected", "CardFiles")...
    </div>
    <div class="server-error">
        @Localizer.Translate("ServerCommunicationError", "CardFiles")...
    </div>
    <div class="cardfile-result-area">

    </div>



<script>
    $(document).ready(createSearch);
</script>