@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectWorkCategorizationViewModel

<div class="row resource-tab-row-fix">
<div class="project-layout-box project-layout-box-500">
    <div class="panel-group" id="work-categorization-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kategorizace
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div id="all-existing-genres" class="hidden">
                        @foreach (var genre in Model.AllLiteraryGenreList)
                        {
                            <div class="existing-genre" data-id="@genre.Id" data-name="@genre.Name"></div>
                        }
                        </div>
                        <label class="col-md-4 control-label">Literární žánr</label>
                        <div class="col-md-8">
                            <div id="work-categorization-literary-genre">
                            @foreach (var genreSelected in Model.SelectedLiteraryGenreIds)
                            {
                                <div class="genre-item clearfix">
                                    <div class="col-xs-9">
                                        <select class="item-select-box form-control">
                                        @foreach (var genre in Model.AllLiteraryGenreList)
                                        {
                                            <option value="@genre.Id" @(genre.Id == genreSelected ? "selected" : null) >@genre.Name</option>
                                        }
                                        </select>
                                    </div>
                                    <div class="button-float-right">
                                        <button class="btn btn-default remove-button">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                        <div class="add-button col-md-12 text-center">
                            <button class="btn btn-default" id="add-literary-genre-button">Přidat</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="all-existing-lit-kinds" class="hidden">
                            @foreach (var kind in Model.AllLiteraryKindList)
                            {
                                <div class="existing-kind" data-id="@kind.Id" data-name="@kind.Name"></div>
                            }
                        </div>
                        <label class="col-md-4 control-label">Literární druh</label>
                        <div class="col-md-8">
                            <div id="work-categorization-literary-kind">
                                @foreach (var kindSelected in Model.SelectedLiteraryKindIds)
                                {
                                    <div class="lit-kind-item clearfix">
                                        <div class="col-xs-9">
                                            <select class="item-select-box form-control">
                                                @foreach (var kind in Model.AllLiteraryKindList)
                                                {
                                                <option value="@kind.Id" @(kind.Id == kindSelected ? "selected" : null)>@kind.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="button-float-right">
                                            <button class="btn btn-default remove-button">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="add-button col-md-12 text-center">
                            <button class="btn btn-default" id="add-literary-kind-button">Přidat</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Kategorie</label>
                    <div class="col-md-8 category-container">
                        <div id="category-tree"></div>
                    </div>
                    <div class="all-category-list hidden">
                        @foreach (var category in Model.AllCategoryList)
                        {
                            <div class="existing-category-list-item" data-category-id="@category.Id" data-category-description="@category.Description" data-parent-category-id="@category.ParentCategoryId" data-external-id="@category.ExternalId">
                            </div>
                        }
                    </div>
                    <div class="selected-category-list hidden">
                        @foreach (var categoryId in Model.SelectedCategoryIds)
                        {
                            <div class="selected-category-list-item" data-category-id="@categoryId">
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Keywords</label>
                    <div class="col-md-7 keywords-container">
                        <div class="keywords-list-selected hidden">
                            @foreach (var selectedKeyword in Model.SelectedKeywords)
                            {
                                <div data-id="@selectedKeyword.Id" data-name="@selectedKeyword.Name"></div>
                            }
                        </div>
                        <input class="keywords-textarea form-control" type="text" />
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="project-form-bottom-buttons" style="margin-top: 10px;">
            <div id="work-categorization-view-button-panel">
                <button class="btn btn-default" id="work-categorization-edit-button">Upravit</button>
            </div>
            <div id="work-categorization-editor-button-panel">
                <div class="alert alert-success" id="work-categorization-save-success">Metadata uložena</div>
                <div class="alert alert-danger" id="work-categorization-save-error">Některá metadata se nepodařilo uložit</div>
                <div class="alert alert-danger" id="work-categorization-invalid-keyword-fail">Failed to save keywords. Please check for duplicates.</div>
                <button class="btn btn-default" id="work-categorization-cancel-button">Zrušit</button>
                <button class="btn btn-default" id="work-categorization-save-button"><span class="saving-icon loading-small-button"></span> Uložit</button>
            </div>
        </div>
    </div>
</div>
