@using ITJakub.Web.Hub.Helpers
@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectWorkMetadataViewModel

@inject ILocalizationService Localizer
<div class="row resource-tab-row-fix">
    @await Html.PartialAsync("Work/SubView/_EditMetadataButtons")

    <div id="work-metadata-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Localizer.Translate("CommonInformation", "Admin")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 col-lg-2 control-label" for="work-metadata-title">@Localizer.Translate("ProjectName", "Admin")</label>
                                <div class="col-md-7 col-lg-9">
                                    <input type="text" id="work-metadata-title" class="form-control" value="@Model.Title" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-2 control-label" for="work-metadata-subtitle">@Localizer.Translate("ProjectSubName", "Admin")</label>
                                <div class="col-md-7 col-lg-9">
                                    <input type="text" id="work-metadata-subtitle" class="form-control" value="@Model.Subtitle" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-2 control-label" for="work-metadata-relic-abbreviation">@Localizer.Translate("RelicAbbr", "Admin")</label>
                                <div class="col-md-7 col-lg-9">
                                    <input type="text" id="work-metadata-relic-abbreviation" class="form-control" value="@Model.RelicAbbreviation" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-2 control-label" for="work-metadata-source-abbreviation">@Localizer.Translate("SourceAbbr", "Admin")</label>
                                <div class="col-md-7 col-lg-9">
                                    <input type="text" id="work-metadata-source-abbreviation" class="form-control" value="@Model.SourceAbbreviation" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Localizer.Translate("Publications", "Admin")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-publisher">@Localizer.Translate("Publisher", "Admin")</label>
                                <div class="col-md-7">
                                    <input type="text" id="work-metadata-publisher" class="form-control" value="@Model.PublisherText" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-publish-place">@Localizer.Translate("PublishPlace", "Admin")</label>
                                <div class="col-md-7">
                                    <input type="text" id="work-metadata-publish-place" class="form-control" value="@Model.PublishPlace" />
                                </div>
                            </div>
                            <div class="form-group publication-years-group">
                                <label class="col-md-4 control-label" for="work-metadata-publish-date">@Localizer.Translate("PublishDate", "Admin")</label>
                                <div class="col-md-7">
                                    <input type="text" id="work-metadata-publish-date" class="form-control" value="@Model.PublishDate" />
                                    <span class="glyphicon form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@Localizer.Translate("ResponsiblePeople", "Admin")</label>
                                <div class="col-md-8">
                                    <div id="work-metadata-editors">
                                        <input type="hidden" id="add-editor-id-preview" />
                                        @foreach (var editor in Model.ResponsiblePersons)
                                        {
                                            <div class="editor-item" data-id="@editor.Id" data-responsible-type-id="@editor.ResponsibleType.Id">
                                                <span class="person-list-manipulate">
                                                    <span class="btn-group-vertical move-button">
                                                        <button type="button" class="btn btn-default move-person-up">
                                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default move-person-down">
                                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                    <button class="btn btn-default remove-button" title="@Localizer.Translate("Delete", "Admin")">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                                <span class="text-as-form-control">
                                                    <span class="person-name">@editor.FirstName</span><span class="person-surname">@editor.LastName - @editor.ResponsibleType.Text</span>
                                                </span>
                                            </div>
                                        }
                                    </div>

                                    <button class="btn btn-default" id="add-editor-button" title="@Localizer.Translate("Add", "Admin")">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <form id="email-form">
                                <div class="form-group email-group">
                                    <label class="col-md-4 control-label" for="work-metadata-publisher-email">@Localizer.Translate("Email", "Admin")</label>
                                    <div class="col-md-7 email-to-validate">
                                        <input id="work-metadata-publisher-email" type="email" name="email" class="form-control" value="@Model.PublisherEmail" />
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-copyright">@Localizer.Translate("Copyright", "Admin")</label>
                                <div class="col-md-7">
                                    <textarea id="work-metadata-copyright" class="form-control" rows="5" cols="6">@Model.Copyright</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-bibl-text">@Localizer.Translate("Bibliography", "Admin")</label>
                                <div class="col-md-7">
                                    <input type="text" id="work-metadata-bibl-text" class="form-control" value="@Model.BiblText" />
                                </div>
                                <div class="col-md-offset-4 col-md-7 generate-bibliography-row">
                                    <button class="btn btn-default generate-bibliography-button">@Localizer.Translate("Generate", "Admin")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Localizer.Translate("Original/Handwriting", "Admin")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-literary-original">@Localizer.Translate("LiteraryOriginal", "Admin")</label>
                                <div class="col-md-7">
                                    <span class="text-as-form-control" id="work-metadata-literary-original">@Model.LiteraryOriginalText</span>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-country">@Localizer.Translate("Country", "Admin")</label>
                                    <div class="col-md-7">
                                        <input type="text" id="work-metadata-original-country" class="form-control" value="@Model.ManuscriptCountry" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-settlement">@Localizer.Translate("City", "Admin")</label>
                                    <div class="col-md-7">
                                        <input type="text" id="work-metadata-original-settlement" class="form-control" value="@Model.ManuscriptSettlement" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-repository">@Localizer.Translate("Institution", "Admin")</label>
                                    <div class="col-md-7">
                                        <input type="text" id="work-metadata-original-repository" class="form-control" value="@Model.ManuscriptRepository" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-idno">@Localizer.Translate("Signature", "Admin")</label>
                                    <div class="col-md-7">
                                        <input type="text" id="work-metadata-original-idno" class="form-control" value="@Model.ManuscriptIdno" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-extent">@Localizer.Translate("Extent", "Admin")</label>
                                    <div class="col-md-7">
                                        <input type="text" id="work-metadata-original-extent" class="form-control" value="@Model.ManuscriptExtent" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@Localizer.Translate("AuthorsFromBook", "Admin")</label>
                                <div class="col-md-8">
                                    <div id="work-metadata-authors">
                                        <input type="hidden" id="add-author-id-preview" />
                                        @foreach (var author in Model.Authors)
                                        {
                                            <div class="author-item" data-id="@author.Id">
                                                <span class="person-list-manipulate">
                                                    <span class="btn-group-vertical move-button">
                                                        <button type="button" class="btn btn-default move-person-up">
                                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default move-person-down">
                                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                    <button class="btn btn-default remove-button" title="@Localizer.Translate("Delete", "Admin")">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                                <span class="text-as-form-control">
                                                    <span class="person-name">@author.FirstName</span><span class="person-surname">@author.LastName</span>
                                                </span>
                                            </div>
                                        }
                                    </div>

                                    <button class="btn btn-default" id="add-author-button" title="@Localizer.Translate("Add", "Admin")">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-origin-date">@Localizer.Translate("OriginDate", "Admin")</label>
                                <div class="col-md-6">
                                    <input type="text" id="work-metadata-origin-date" class="form-control" value="@Model.OriginDate" />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-default edit-date-range" title="@Localizer.Translate("Edit", "Admin")"><i class="fa fa-pencil"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-not-before">@Localizer.Translate("NotBefore", "Admin")</label>
                                <div class="col-md-6">
                                    <input type="text" id="work-metadata-not-before" class="form-control" value="@Model.NotBefore?.Year" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="work-metadata-not-after">@Localizer.Translate("NotAfter", "Admin")</label>
                                <div class="col-md-6">
                                    <input type="text" id="work-metadata-not-after" class="form-control" value="@Model.NotAfter?.Year" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("Work/SubView/_EditMetadataButtons")

    <div class="modal fade" role="dialog" id="select-range-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        @Localizer.Translate("SelectTimePeriod", "Admin")
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="regex-dating-condition">
                        <div class="regex-dating-precision-div">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                    <button type="button" class="btn btn-default save-button">@Localizer.Translate("Done", "Admin")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="add-author-dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer.Translate("AddNewAuthor", "Admin")</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-no-padding">
                                <div class="form-group">
                                    <label for="add-author-search" class="col-xs-5 control-label">@Localizer.Translate("FindAuthor", "Admin")</label>
                                    <input class="form-control" id="add-author-search" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row table-row">
                            <div class="col-xs-6">
                                <div class="list-unstyled row author-table-header">
                                    <div class="list-group-item border-right col-xs-6">@Localizer.Translate("Firstname", "Admin")</div>
                                    <div class="list-group-item border-left col-xs-6">@Localizer.Translate("Lastname", "Admin")</div>
                                </div>
                                <div class="list-unstyled row author-list-items">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 new-original-author">
                                        <div class="row author-name-input-row border-between">
                                            <div class="col-xs-6">
                                                <input class="form-control" id="add-author-first-name" type="text" placeholder="Name">
                                            </div>
                                            <div class="col-xs-6">
                                                <input class="form-control" id="add-author-last-name" type="text" placeholder="Surname">
                                            </div>
                                        </div>
                                        <div class="row new-author-button-row">
                                            <div class="col-xs-7 col-no-padding">
                                                <button class="new-original-author-button btn btn-default">@Localizer.Translate("AddNewAuthor", "Admin")</button>
                                            </div>
                                            <div class="col-xs-5 col-no-padding">
                                                <div class="btn-group new-original-author-button-group">
                                                    <button class="new-original-author-cancel-button btn btn-default">@Localizer.Translate("Cancel", "Admin")</button>
                                                    <button class="new-original-author-finish-button btn btn-default">@Localizer.Translate("Done", "Admin")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 works-produced">
                                <div class="list-unstyled row">
                                    <div class="list-group-item works-table-header">@Localizer.Translate("Works", "Admin")</div>
                                </div>
                                <div class="list-unstyled row">

                                    <div class="list-group-item works-list-items"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row number-of-works-written">
                                            <div class="col-xs-8 works-number-text">@Localizer.Translate("NumberOfWorksWritten", "Admin"):</div>
                                            <div class="col-xs-4 number-of-works-value"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                    <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Add", "Admin")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="add-editor-dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer.Translate("AddNewResponsiblePerson", "Admin")</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-no-padding">
                                <div class="form-group">
                                    <label for="add-author-search" class="col-xs-9 control-label">@Localizer.Translate("FindResponsiblePerson", "Admin")</label>
                                    <input class="form-control" id="add-editor-search" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row table-row">
                            <div class="col-xs-6 responsible-people-table">
                                <div class="list-unstyled row responsible-person-table-header">
                                    <div class="list-group-item border-right col-xs-6">@Localizer.Translate("Firstname", "Admin")</div>
                                    <div class="list-group-item border-left col-xs-6">@Localizer.Translate("Lastname", "Admin")</div>
                                </div>
                                <div class="list-unstyled row responsible-person-list-items">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 new-responsible-person">
                                        <div class="row responsible-person-name-input-row">
                                            <div class="col-xs-6 border-between">
                                                <input class="form-control" id="add-responsible-person-first-name" type="text" placeholder="Name">
                                            </div>
                                            <div class="col-xs-6">
                                                <input class="form-control" id="add-responsible-person-last-name" type="text" placeholder="Surname">
                                            </div>
                                        </div>
                                        <div class="row new-responsible-person-button-row">
                                            <div class="col-xs-7 col-no-padding">
                                                <button class="new-responsible-person-button btn btn-default">@Localizer.Translate("AddNewResponsiblePerson", "Admin")</button>
                                            </div>
                                            <div class="col-xs-5 col-no-padding">
                                                <div class="btn-group new-responsible-person-button-group">
                                                    <button class="new-responsible-person-cancel-button btn btn-default">@Localizer.Translate("Cancel", "Admin")</button>
                                                    <button class="new-responsible-person-finish-button btn btn-default">@Localizer.Translate("Done", "Admin")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row type-input-row">
                                            <div class="form-group">
                                                <label for="responsibility-type-input-elements" class="col-xs-9 control-label">@Localizer.Translate("Type", "Admin")</label>
                                                <div id="responsibility-type-input-elements">
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-no-padding">
                                                            <select size="1" class="form-control" id="add-editor-type">
                                                                @foreach (var responsibleType in Model.AllResponsibleTypeList)
                                                                {
                                                                    <option value="@responsibleType.Id" @(Model.AllResponsibleTypeList.IndexOf(responsibleType) == 0 ? "selected" : null)>@responsibleType.Text (@responsibleType.Type.GetDisplayAttributeValue())</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 works-participated">
                                <div class="list-unstyled row">
                                    <div class="list-group-item works-table-header">
                                        @Localizer.Translate("WorksParticipatedRole", "Admin"):
                                    </div>
                                </div>
                                <div class="list-unstyled row">

                                    <div class="list-group-item works-list-items"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row number-of-works-participated">
                                            <div class="col-xs-8 works-number-text">
                                                @Localizer.Translate("WorksParticipatedNumber", "Admin"):
                                            </div>
                                            <div class="col-xs-4 number-of-works-value"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                    <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Add", "Admin")</button>
                </div>
            </div>
        </div>
    </div>
</div>