@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectWorkMetadataViewModel

<div class="row resource-tab-row-fix">
    <div class="project-layout-box project-layout-box-500">
        <div class="form-horizontal light-border">
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-editor">Editor</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-editor" class="form-control" value="@Model.Editor"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-literary-original">Předloha</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-literary-original" class="form-control" value="@Model.LiteraryOriginalText" />
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-country">Země</label>
                    <div class="col-md-7">
                        <input type="text" id="work-metadata-original-country" class="form-control" value="@Model.LiteraryOriginal.Country" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-city">Město</label>
                    <div class="col-md-7">
                        <input type="text" id="work-metadata-original-city" class="form-control" value="@Model.LiteraryOriginal.City" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-institution">Instituce</label>
                    <div class="col-md-7">
                        <input type="text" id="work-metadata-original-institution" class="form-control" value="@Model.LiteraryOriginal.Institution" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-signature">Signatura</label>
                    <div class="col-md-7">
                        <input type="text" id="work-metadata-original-signature" class="form-control" value="@Model.LiteraryOriginal.Signature" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-3 control-label" for="work-metadata-original-extent">Rozsah</label>
                    <div class="col-md-7">
                        <input type="text" id="work-metadata-original-extent" class="form-control" value="@Model.LiteraryOriginal.Extent" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-relic-abbreviation">Zkratka památky</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-relic-abbreviation" class="form-control" value="@Model.RelicAbbreviation" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-source-abbreviation">Zkratka pramene</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-source-abbreviation" class="form-control" value="@Model.SourceAbbreviation" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-literary-kind">Literární druh</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-literary-kind" class="form-control" value="@Model.LiteraryKind" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-literary-genre">Literární žánr</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-literary-genre" class="form-control" value="@Model.LiteraryGenre" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="work-metadata-last-modification">Poslední úprava</label>
                <div class="col-md-7">
                    <input type="text" id="work-metadata-last-modification" class="form-control" value="@Model.LastModification" />
                </div>
            </div>
            <div class="project-form-bottom-buttons">
                <div id="work-metadata-view-button-panel">
                    <button class="btn btn-default" id="work-metadata-edit-button">Upravit</button>
                </div>
                <div id="work-metadata-editor-button-panel">
                    <button class="btn btn-default" id="work-metadata-cancel-button">Zrušit</button>
                    <button class="btn btn-default" id="work-metadata-save-button">Uložit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="project-layout-box project-layout-box-200">
        <div class="light-border">
            <h4>Kategorie</h4>
            <div>
                <label><input type="checkbox" /><span> Staročeský</span></label>
            </div>
            <div>
                <label><input type="checkbox" /><span> Středněčeský</span></label>
            </div>
        </div>
    </div>
</div>