@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ResourcesViewModel
@inject ILocalizationService Localizer

<div class="panel panel-default publish-resource-panel" data-resource-type="@Html.Raw((int) Model.ResourceType)">
    <div class="panel-heading">
        <div class="collapse-icon">
            <a data-toggle="collapse" href="#panel-@Html.Raw((int) Model.ResourceType)" aria-expanded="true">
                <span class="fa fa-chevron-up"></span>
                <span class="fa fa-chevron-down"></span>
            </a>
        </div>
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#panel-@Html.Raw((int) Model.ResourceType)" aria-expanded="true">@Model.Title</a>
        </h4>
    </div>
    <div id="panel-@Html.Raw((int) Model.ResourceType)" class="panel-collapse collapse in">
        <table class="table">
            <tr class="header">
                <th class="include-all">
                    <div class="checkbox">
                        <label title="@Localizer.Translate("IncludeAll", "Admin")">
                            <input type="checkbox" class="include-all-checkbox" /> @Localizer.Translate("Include", "Admin")
                        </label>
                    </div>
                </th>
                <th>@Localizer.Translate("Source", "Admin")</th>
                <th class="version-label">@Localizer.Translate("Version", "Admin")</th>
                <th>@Localizer.Translate("Created", "Admin")</th>
                <th>@Localizer.Translate("Author", "Admin")</th>
                <th>@Localizer.Translate("Comment", "Admin")</th>
                <th></th>
            </tr>
            @if (Model.ResourceList.Count == 0)
            {
                <tr>
                    <td colspan="7">
                        @Localizer.TranslateFormat("ProjectNotContains", "Admin",Model.Title.ToLower())
                    </td>
                </tr>
            }
            @foreach (var resource in Model.ResourceList)
            {
                <tr class="resource-row" data-id="@resource.Id" data-version-id="@resource.ResourceVersionId">
                    <td class="include-checkboxes">
                        <input type="checkbox" />
                    </td>
                    <td class="name">
                        @resource.Name
                    </td>
                    <td>
                        <select name="version" class="selectpicker select-version" data-loaded="false">
                            <option value="@resource.ResourceVersionId" data-name="@resource.Name">@resource.VersionNumber</option>
                        </select>
                    </td>
                    <td class="created">
                        @resource.Created
                    </td>
                    <td class="author">
                        @resource.Author
                    </td>
                    <td class="comment">
                        @resource.Comment
                    </td>
                    <td>
                        <button class="resource-preview btn btn-default">@Localizer.Translate("Preview", "Admin")</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>