@using Scalesoft.Localization.AspNetCore
@model IList<ITJakub.Web.Hub.Areas.Admin.Models.SnapshotViewModel>
@inject ILocalizationService Localizer

<div id="new-snapshot-container">
    <h3>@Localizer.Translate("PublishedSnapshots", "Admin")</h3>

    <table id="work-snapshots-table">
        <tr>
            <th>@Localizer.Translate("Date", "Admin")</th>
            <th>@Localizer.Translate("TextSources", "Admin")</th>
            <th>@Localizer.Translate("ImageSources", "Admin")</th>
            <th>@Localizer.Translate("AudioSources", "Admin")</th>
            <th>@Localizer.Translate("Author", "Admin")</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var snapshotViewModel in Model)
        {
            <tr>
                <td>@snapshotViewModel.PublishDate.ToLocalTime().ToString(Localizer.GetRequestCulture())</td>
                <td>@snapshotViewModel.PublishedTextResourceCount</td>
                <td>@snapshotViewModel.PublishedImageResourceCount</td>
                <td>@snapshotViewModel.PublishedAudioResourceCount</td>
                <td>@snapshotViewModel.Author</td>
                <td class="edit-column"><a href="#">@Localizer.Translate("Edit2", "Admin")</a></td>
                <td class="remove-column"><a href="#">@Localizer.Translate("Delete", "Admin")</a></td>
                <td class="duplicate-column" colspan="2"><a href="#">@Localizer.Translate("DuplicateSettings", "Admin")</a></td>
            </tr>
        }
    </table>

    <div class="project-bottom-buttons">
        <button type="button" class="btn btn-default" id="work-snapshots-new-button">@Localizer.Translate("CreateNewPublication", "Admin")</button>
    </div>
</div>
