@model ITJakub.Web.Hub.Areas.Admin.Models.ResourcesViewModel
@inject ILocalization Localizer

<div class="project-dropdown-panel" data-resource-type="@Html.Raw((int) Model.ResourceType)">
    <div class="dropdown-select-header project-dropdown-header">
        <div class="project-dropdown-controls">
            <a href="#">@Localizer.Translate("ListAllInLatestVersion", "Admin")</a>
            <a href="#"><span class="glyphicon glyphicon-menu-down"></span></a>
        </div>
        <div>@Model.Title</div>
    </div>
    <div class="project-dropdown-body">
        <table>
            <tr class="header">
                <th>@Localizer.Translate("Source", "Admin")</th>
                <th>@Localizer.Translate("Include", "Admin")</th>
                <th>@Localizer.Translate("Version", "Admin")</th>
                <th></th>
                <th>@Localizer.Translate("Grammar", "Admin")</th>
                <th>@Localizer.Translate("Edition", "Admin")</th>
                <th>@Localizer.Translate("Corporas", "Admin")</th>
                <th>@Localizer.Translate("Dictionaries", "Admin")</th>
            </tr>
            <tr class="subheader">
                <th></th>
                <th>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" /> @Localizer.Translate("All", "Admin")
                        </label>
                    </div>
                </th>
                <th></th>
                <th></th>
                <th>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" /> @Localizer.Translate("All", "Admin")
                        </label>
                    </div>
                </th>
                <th>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" /> @Localizer.Translate("All", "Admin")
                        </label>
                    </div>
                </th>
                <th>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" /> @Localizer.Translate("All", "Admin")
                        </label>
                    </div>
                </th>
                <th>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" /> @Localizer.Translate("All", "Admin")
                        </label>
                    </div>
                </th>
            </tr>

            @foreach (var resource in Model.ResourceList)
            {
                <tr data-id="@resource.Id">
                    <td>@resource.Name</td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <select>
                            @foreach (var version in resource.VersionList)
                            {
                                <option value="@version.ResourceVersionId">@version.VersionNumber</option>
                            }
                        </select>
                    </td>
                    <td>
                        <a href="#">@Localizer.Translate("Preview", "Admin")</a>
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
