@using ITJakub.Web.Hub.Areas.Admin.Models
@using Localization.AspNetCore.Service
@using Vokabular.MainService.DataContracts.Contracts.Type
@model NewPublicationViewModel
@inject ILocalization Localizer

<div class="project-snapshot-new">
    <div class="project-snapshot-resources">
        @await Html.PartialAsync("Work/_PublicationsNewResources", new ResourcesViewModel(ResourceTypeEnumContract.Text, "Textové zdroje", Model.ResourceList))
        @await Html.PartialAsync("Work/_PublicationsNewResources", new ResourcesViewModel(ResourceTypeEnumContract.Image, "Obrazové zdroje", Model.ResourceList))
        @await Html.PartialAsync("Work/_PublicationsNewResources", new ResourcesViewModel(ResourceTypeEnumContract.Audio, "Audio zdroje", Model.ResourceList))
        @await Html.PartialAsync("Work/_PublicationsNewResources", new ResourcesViewModel(ResourceTypeEnumContract.Video, "Video zdroje", Model.ResourceList))
        
        <div class="project-bottom-buttons">
            <button type="button" class="btn btn-default">@Localizer.Translate("Save", "Admin")</button>
        </div>
    </div>

    <div class="project-snapshot-visibility">
        <div>
            <h4>@Localizer.Translate("Visibility", "Admin")</h4>
            <div>
                <button type="button" class="btn btn-default form-control">
                    <span class="glyphicon glyphicon-plus"></span> @Localizer.Translate("AddGroupUser", "Admin")
                </button>
            </div>

            <ul class="list-group">
                @foreach (var group in Model.VisibilityForGroups)
                {
                    <li class="list-group-item" data-group-id="@group.GroupId">
                        <div class="controls">
                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <span>@group.Name</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
