@using Scalesoft.Localization.AspNetCore
@model IList<ITJakub.Web.Hub.Areas.Admin.Models.SnapshotViewModel>
@inject ILocalizationService Localizer

<div id="new-snapshot-container">
    <h3>@Localizer.Translate("PublishedSnapshots", "Admin")</h3>

    <table id="work-snapshots-table">
        <tr>
            <th>@Localizer.Translate("Date", "Admin")</th>
            <th>@Localizer.Translate("TextSources", "Admin")</th>
            <th>@Localizer.Translate("ImageSources", "Admin")</th>
            <th>@Localizer.Translate("AudioSources", "Admin")</th>
            <th>@Localizer.Translate("Author", "Admin")</th>
            <th></th>
        </tr>
        @foreach (var snapshotViewModel in Model)
        {
            <tr>
                <td>@snapshotViewModel.PublishDate.ToLocalTime().ToString(Localizer.GetRequestCulture())</td>
                <td>@snapshotViewModel.PublishedTextResourceCount</td>
                <td>@snapshotViewModel.PublishedImageResourceCount</td>
                <td>@snapshotViewModel.PublishedAudioResourceCount</td>
                <td>@snapshotViewModel.Author</td>
                <td class="duplicate-column"><a asp-controller="Project" asp-action="DuplicateSnapshot" asp-route-snapshotId="@snapshotViewModel.Id">@Localizer.Translate("Edit2", "Admin")</a></td>
            </tr>
        }
    </table>

    <div class="project-bottom-buttons">
        <a asp-controller="Project" asp-action="NewSnapshot" asp-route-projectId="5" class="btn btn-default">@Localizer.Translate("CreateNewPublication", "Admin")</a>
    </div>
</div>
