@model ITJakub.Web.Hub.Models.AccountDetailViewModel

<div class="row" style="margin-left: 5px; width: 80%;">
    <div class="col-md-12 form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @readonly = true})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @readonly = true})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control", @readonly = true})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.LastName, new {@class = "form-control", @readonly = true})
            </div>
        </div>
    </div>
</div>