@{
    var currentController = @ViewContext.RouteData.Values["controller"] as string ?? "home";
    var currentAction = @ViewContext.RouteData.Values["action"] as string ?? "index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @* ORIGINAL STYLE <link href="@Url.Content("~/Styles/Main.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Styles/ui-lightness/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/search.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sources.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        
        <div class="header">
            <a href="@Url.RouteUrl("HomePage")"><h1>Vokabulář Webový</h1></a>
            <p><strong>Webové hnízdo pramenů k poznání historické češtiny</strong></p>
        </div>
        
        <div class="page-wrapper">
            <ul class="nav nav-tabs">
                <li @if (currentController == "Index" || currentController == "Search")
                    {
                        @Html.Raw("class=\"active\"");
                    }>
                    @Html.RouteLink("Vyhledávání", "HomePage")
                </li>
                <li @if (false)
                    {
                        @Html.Raw("class=\"active\"");
                    }>
                    <a href="/#">Listování ve slovnících</a>
                </li>
                <li @if (currentController == "Sources")
                    {
                        @Html.Raw("class=\"active\"");
                    }>
                    @Html.RouteLink("Zdroje", "SourcesListing", new { mode = "Jmeno", alphabet = "A" })
                </li>
            </ul>
        
            @RenderBody()
        </div>

        <div class="footer">
            <p>
                <a href="#">Copyright</a> |
                <a href="#">Kontakty</a> |
                <a href="#">Grantová podpora</a> |
                <a href="#">Odkazy</a> |
                <a href="#">Nápověda</a> |
                <a href="#">Jak citovat</a> |
                <a href="#">Připomínky</a>
                <br>
                <span>Vokabulář webový byl spuštěn před 6 lety, 5 měsíci a 13 dny</span>
            </p>
        </div>
    </div>
</body>
</html>
