@using Ujc.Naki.MVCWebLayer.Services
@model Ujc.Naki.MVCWebLayer.ViewModels.SearchViewModel
<div class="row-fluid">
    <div class="span12">
        <div class="advanced-search-wrapper">
    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
    {
                <div class="input-append search-inputs text-center">
                    @Html.TextBoxFor(a => a.SearchTerm, new { id = "search-term", @class = "input-xxlarge search-term" })
                    <button id="search-submit" type="submit" name="search-submit" class="btn">Vyhledat</button>
                    <button class="btn show-advanced-search" type="button">Upřesnit <span class="caret"></span></button>
                </div>
                <div class="text-center">
                    <strong>Prohledávaná díla: </strong>
                    <div class="searched-books">
                        @if (Model.SearchedBooks == null)
                        {
                            <span class="muted">Aktivní prohledávání ve všech dostupných dílech</span>
                        }
                        else
                        {
                            foreach (KeyValuePair<BookCategory, List<string>> pair in Model.SearchedBooks)
                            {
                                <div class="muted">
                                    <strong>@pair.Key.CzechString():</strong>
                                    @if (pair.Value == null || pair.Value.Count == 0)
                                    {
                                        <span>@("všechny")</span>
                                    }
                                    else
                                    {
                                        foreach (var book in pair.Value)
                                        {
                                            @book
                                            @(pair.Value.Last().Equals(book) ? string.Empty : ", ")
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
        <div class="advanced-search">
            <h4>Vyberte prohledávaná díla</h4>
            <div class="row-fluid">
                <div class="span12 categories" data-categories-url="@Url.RouteUrl("GetCategoryChildren", new { categoryId = ""})">
                            @*<ul class="nav">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="SearchPart" value="slovo" id="staroceske" @(GetCheckedString("staroceske")) /><span>Staročeské</span>
                                    </label>
                                    <ul class="nav">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="SearchPart" value="slovo" id="slovo" @(GetCheckedString("slovo")) /><span>Slovo do světa</span>
                                            </label>
                                            <input type="text" name="historic-input" class="autocomplete" />
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="SearchPart" value="slovo" id="stredneceske" @(GetCheckedString("stredneceske")) /><span>Středněčeské</span>
                                    </label>
                                </li>
                            </ul>*@

                </div>
            </div>
        </div>
    }
</div>
    </div>
</div>

@functions {
    public string GetCheckedString(string id)
    {
        if (Model.SearchPart != null && Model.SearchPart.Contains(id))
        {
            return "checked='chedked'";
        }
        
        return string.Empty;
    }
}