@using ITJakub.MVCWebLayer.Enums
@using ITJakub.MVCWebLayer.Enums
@model ITJakub.MVCWebLayer.Enums.SourceDetailPart


    <ul class="nav nav-tabs">
        <li @(Model == SourceDetailPart.Info ? "class=active": "")><a href="@Url.RouteUrl("SourcesDetail", new { id = ViewContext.RouteData.Values["id"] })">Podrobné informace</a></li>
        <li @(Model == SourceDetailPart.Hledat ? "class=active": "")><a href="@Url.RouteUrl("SourcesDetailSearch", new { id = ViewContext.RouteData.Values["id"] })">Hledat v obsahu</a></li>
        <li @(Model == SourceDetailPart.Prochazet ? "class=active": "")><a href="@Url.RouteUrl("SourcesGoThrough", new { id = ViewContext.RouteData.Values["id"] })">Procházet obsah</a></li>
        <li @(Model == SourceDetailPart.Zpracovani ? "class=active": "")><a href="@Url.RouteUrl("SourcesDetailZpracovani", new { id = ViewContext.RouteData.Values["id"] })">Způsob zpracování dokumentu</a></li>
        <li @(Model == SourceDetailPart.Podminky ? "class=active": "")><a href="@Url.RouteUrl("SourcesDetailPodminky", new { id = ViewContext.RouteData.Values["id"] })">Podmínky užití</a></li>
    </ul>
    
