@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Models.BookListingModel
@inject ILocalization Localizer

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarListing", "OldGrammar");
}

@section styles{
    <link href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/OldGrammar/js/itjakub.oldgrammar.js"></script>
}


<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookXmlId" data-versionid="@Model.VersionXmlId">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        initGrammarReader(@Json.Serialize(Model.BookId), @Json.Serialize(Model.BookXmlId), @Json.Serialize(Model.VersionXmlId), @Json.Serialize(Model.BookTitle), @Json.Serialize(Model.BookPages, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.SearchText, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.InitPageXmlId));
    });
</script>