@model ITJakub.Web.Hub.Areas.OldGrammar.Models.TermCategoriesWithTermsModel
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarListTerms", "OldGrammar");
}

<div>
    <h1>Seznam termínů</h1>
    <div id="terms-list">
        @foreach (var termCategory in @Model.TermCategories)
        {
            <div class="term-category">
                <div class="term-category-header"><span class="term-category-name">@termCategory.Name</span></div>
                <div class="term-category-body">
                    <ul>
                        @foreach (var term in @termCategory.Terms)
                        {
                            <li><a href=@Url.Action("Search", "OldGrammar", new {area = "OldGrammar", search = term.Text})>@term.Text</a></li>
                        }
                    </ul>
                 </div>
            </div>
        }
    </div>
</div>