@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.BookListingModel
@inject ILocalizationService Localizer

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarListing", "OldGrammar");
}

@section styles{
    <link href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/OldGrammar/js/itjakub.oldgrammar.js"></script>
}


<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookId" data-versionid="@Model.SnapshotId">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        initGrammarReader(@Json.Serialize(Model.BookId), @Json.Serialize(Model.BookId), @Json.Serialize(Model.SnapshotId), @Json.Serialize(Model.BookTitle), @Json.Serialize(Model.BookPages), @Json.Serialize(Model.SearchText, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.InitPageId));
    });
</script>