@using ITJakub.Web.Hub.Options
@using Microsoft.Extensions.Options
@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.BookListingModel
@inject ILocalizationService Localizer
@inject IOptions<PortalOption> PortalOption

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarListing", "OldGrammar");
}

@section styles{
    <link asp-append-version="true" href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}
@section scripts{
    <script asp-append-version="true" src="~/Areas/OldGrammar/js/itjakub.oldgrammar.js"></script>
}


<div id="allowedSearchOptions" class="hide" data-options="@Html.Encode(Json.Serialize(PortalOption.Value.AllowedSearchOptions.ToArray()))"></div>
<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookXmlId" data-versionid="@Model.VersionXmlId">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        initGrammarReader(@Json.Serialize(Model.BookId), @Json.Serialize(Model.BookXmlId), @Json.Serialize(Model.VersionXmlId), @Json.Serialize(Model.BookTitle), @Json.Serialize(Model.BookPages), @Json.Serialize(Model.SearchText, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.InitPageXmlId));
    });
</script>