@model ITJakub.Web.Hub.Models.BookListingModel
@{
    ViewBag.Title = "Mluvnice - Čtečka děl";
}

@section styles{
    <link href="~/wwwroot/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/itjakub/oldgrammar/javascript")
}


<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookXmlId" data-versionid="@Model.VersionXmlId">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        initGrammarReader(@Html.Raw(Json.Encode(@Model.BookId)), @Html.Raw(Json.Encode(@Model.BookXmlId)), @Html.Raw(Json.Encode(@Model.VersionXmlId)),  @Html.Raw(Json.Encode(@Model.BookTitle)), @Html.Raw(Json.Encode(@Model.BookPages)),@Html.Raw(Json.Encode(@Model.SearchText)),@Html.Raw(Json.Encode(@Model.InitPageXmlId)));
    });
</script>