@inject ILocalization Localizer

<div id="resource-discussion-container">
<div class="discussion-thread">
    <div class="panel panel-default discussion-post">
        <div class="panel-heading">
            <div class="panel-heading-container">Jan Novák - 24.10.2016 13:39</div>
        </div>
        <div class="panel-body">
            <div class="panel-body-container">
                <div class="panels">
                    <div class="left-panel">
                        <a href="#" class="discussion-open-thread-link">
                            <span class="glyphicon glyphicon-plus icon-open"></span>
                            <span class="glyphicon glyphicon-minus icon-close"></span>
                        </a>
                    </div>
                    <div class="middle-panel">
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum finibus ...</div>
                    </div>
                    <div class="right-panel">
                        <a href="#"><span class="glyphicon glyphicon-share-alt mirror-inverse" style="top: 3px;"></span></a>
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">@Localizer.Translate("Edit", "Admin")</a></li>
                                <li><a href="#">@Localizer.Translate("Close", "Admin")</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">@Localizer.Translate("Delete", "Admin")</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

    <div class="discussion-thread">
        <div class="panel panel-default discussion-post">
            <div class="panel-heading">
                <div class="panel-heading-container">Jan Novák - 24.10.2016 13:39</div>
            </div>
            <div class="panel-body">
                <div class="panel-body-container">
                    <div class="panels">
                        <div class="left-panel">
                            <a href="#" class="discussion-open-thread-link">
                                <span class="glyphicon glyphicon-plus icon-open"></span>
                                <span class="glyphicon glyphicon-minus icon-close"></span>
                            </a>
                        </div>
                        <div class="middle-panel">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum finibus ...</div>
                        </div>
                        <div class="right-panel">
                            <a href="#"><span class="glyphicon glyphicon-share-alt mirror-inverse" style="top: 3px;"></span></a>
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">@Localizer.Translate("Edit", "Admin")</a></li>
                                    <li><a href="#">@Localizer.Translate("Close", "Admin")</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">@Localizer.Translate("Delete", "Admin")</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <div class="discussion-thread">
            <div class="panel panel-default discussion-post">
                <div class="panel-heading">
                    <div class="panel-heading-container">Jan Novák - 24.10.2016 13:39</div>
                </div>
                <div class="panel-body">
                    <div class="panel-body-container">
                        <div class="panels">
                            <div class="left-panel">
                                <a href="#" class="discussion-open-thread-link">
                                    <span class="glyphicon glyphicon-plus icon-open"></span>
                                    <span class="glyphicon glyphicon-minus icon-close"></span>
                                </a>
                            </div>
                            <div class="middle-panel">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum finibus ...</div>
                            </div>
                            <div class="right-panel">
                                <a href="#"><span class="glyphicon glyphicon-share-alt mirror-inverse" style="top: 3px;"></span></a>
                                <div class="btn-group">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">@Localizer.Translate("Edit", "Admin")</a></li>
                                        <li><a href="#">@Localizer.Translate("Close", "Admin")</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">@Localizer.Translate("Delete", "Admin")</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
    
</div>
    <div class="discussion-thread">
        <div class="panel panel-default discussion-post">
            <div class="panel-heading">
                <div class="panel-heading-container">Jan Novák - 24.10.2016 13:39</div>
            </div>
            <div class="panel-body">
                <div class="panel-body-container">
                    <div class="panels">
                        <div class="left-panel">
                            <a href="#" class="discussion-open-thread-link">
                                <span class="glyphicon glyphicon-plus icon-open"></span>
                                <span class="glyphicon glyphicon-minus icon-close"></span>
                            </a>
                        </div>
                        <div class="middle-panel">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum finibus ...</div>
                        </div>
                        <div class="right-panel">
                            <a href="#"><span class="glyphicon glyphicon-share-alt mirror-inverse" style="top: 3px;"></span></a>
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">@Localizer.Translate("Edit", "Admin")</a></li>
                                    <li><a href="#">@Localizer.Translate("Close", "Admin")</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">@Localizer.Translate("Delete", "Admin")</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row resource-tab-row-fix">
    <div class="col-md-10">
        <textarea class="form-control"></textarea>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default form-control">@Localizer.Translate("NewPost", "Admin")</button>
    </div>
</div>
