@using Scalesoft.Localization.AspNetCore
@using Vokabular.Shared.AspNetCore.Extensions
@inject ILocalizationService Localization

<div id="userInfo" data-first-name="@User.GetFirstName()" data-last-name="@User.GetLastName()" class="hide"></div>

<div id="project-resource-preview" class="hide">
    <div id="page-slider" class="text-editor-page-slider">
        <div class="ui-slider-handle page-slider-handle">
            <div class="slider-tooltip">
                <div class="slider-tooltip-text"></div>
            </div>
        </div>
    </div>
    <div class="row page-menu-row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="input-group">
                <input type="text" class="form-control go-to-page-field" placeholder="@Localization.Translate("GoToPage", "RidicsProject")" aria-label="@Localization.Translate("GoToPage", "RidicsProject")">
                <span class="input-group-btn">
                    <button class="btn btn-default go-to-page-button" type="button">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </span>
            </div>
            
            
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-2">
            <button type="button" class="btn btn-default add-page-button">@Localization.Translate("AddPage", "Admin")</button> 
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-2 page-indicator"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 text-right">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" class="display-page-checkbox" checked="checked">
                    @Localization.Translate("DisplayPageNumbers", "RidicsProject")
                </label>
            </div>
        </div>
    </div>

    <div class="editor-super-container">
        <div class="editor-areas">
            <div class="preloading-pages-spinner loading"></div>
            <div class="pages-start container-fluid">
                <!--Generated page structure is in this block-->
            </div>
        </div>
    </div>
    
    @await Html.PartialAsync("Work/SubView/_AddPageDialog")
</div>