@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util

@inject ILocalization Localizer

<div id="editor-insert-image-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("InsertImage", "Text", LocTranslationSource.File)</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="editor-insert-image-url" class="col-md-3 control-label">@Localizer.Translate("UrlAddress", "Text", LocTranslationSource.File)</label>
                        <div class="col-md-8">
                            <input class="form-control" id="editor-insert-image-url" type="text" placeholder="http://">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editor-insert-image-alt" class="col-md-3 control-label">@Localizer.Translate("Note","Text", LocTranslationSource.File)</label>
                        <div class="col-md-8">
                            <input class="form-control" id="editor-insert-image-alt" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Close", "global", LocTranslationSource.File)</button>
                <button type="button" class="btn btn-default" id="editor-insert-image-button">@Localizer.Translate("Insert", "Text", LocTranslationSource.File)</button>
            </div>
        </div>
    </div>
</div>