@model ITJakub.Web.Hub.Models.StaticTextViewModel

@{
    ViewBag.Title = "Administrace - Upravit statický text";
}

@section styles{
    @Styles.Render("~/Content/simplemdecss")
}
@section Scripts {
    @Scripts.Render("~/bundles/simplemde")
    @Scripts.Render("~/itjakub/text/javascript")
}

<div class="content-container top-offset-without-submenu">
    <h2>Textový editor</h2>

    @if (Request.Params["textName"] != null)
    {
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Název stránky</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="name" disabled="disabled" value="@Model.Name">
                </div>
            </div>

            <div class="form-group">
                <label for="text" class="col-md-2 control-label">Text stránky:</label>
                <div class="col-md-3">
                    <div class="alert alert-info inline-alert">Editor používá syntaxi Markdown</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <textarea id="text">@Model.Text</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <input type="submit" class="form-control" name="save-text" value="Uložit"/>
                </div>
            </div>
        </form>

        @Html.Partial("_TextEditorInsertImage")
        @Html.Partial("_TextEditorInsertLink")
    }
    else
    {
        <div class="alert alert-danger">Nebyl zvolen žádný text pro editaci.</div>
    }

</div>
