@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@model ITJakub.Web.Hub.Models.StaticTextViewModel
    
@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("TextManagementTitle", "Text", LocTranslationSource.File);
}

@section styles{
    <link href="~/css/ITJakub.TextEditor.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/js/itjakub.text.editor.js"></script>
}

<div class="content-container top-offset-without-submenu">
    <h2>@Localizer.Translate("TextEditor","Text", LocTranslationSource.File)</h2>

    @if (Context.Request.Query.ContainsKey("textName"))
    {
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">@Localizer.Translate("PageName", "Text", LocTranslationSource.File)</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="name" disabled="disabled" value="@Model.Name">
                </div>
                
                <label for="scope" class="col-md-2 control-label">@Localizer.Translate("Category", "Text")</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="scope"  disabled="disabled" value="@Model.Scope">
                </div>
            </div>

            <div class="form-group">
                <label for="text" class="col-md-2 control-label">@Localizer.Translate("PageText", "Text", LocTranslationSource.File):</label>
                <div class="col-md-3">
                    <div class="alert alert-info inline-alert">@Localizer.Translate("UsesMarkdown", "Text", LocTranslationSource.File)</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <textarea id="text">@Model.Text</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4" style="margin-top: -20px;">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            @Localizer.Translate("LastModificationAuthor", "Text", LocTranslationSource.File):
                            <span id="modification-author">
                                @if (string.IsNullOrEmpty(Model.LastModificationAuthor))
                                {
                                    @Html.Raw(Localizer.TranslateFormat("AnonymousVar2", new object[]{"(",")"}, "Text", LocTranslationSource.File))
                                }
                                else
                                {
                                    @Model.LastModificationAuthor
                                }
                            </span><br/>

                            @Localizer.Translate("LastModificationTime", "Text", LocTranslationSource.File):
                            <span id="modification-time">
                                @Model.LastModificationTime.ToLocalTime()
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-offset-2 col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <div id="save-error" class="alert alert-danger inline-alert hidden">
                                @Localizer.Translate("TextSavingError", "Text", LocTranslationSource.File)
                            </div>
                            <div id="save-success" class="alert alert-success inline-alert hidden">
                                @Localizer.Translate("TextSaved", "Text", LocTranslationSource.File)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="form-control btn btn-default" id="save-button">
                                <span id="save-progress" class="loading-small-button hidden"></span>
                                @Localizer.Translate("Save", "Text", LocTranslationSource.File)
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-4">
                            <a href="@Context.Request.Query["pageUrl"]" class="form-control btn btn-default">@Localizer.Translate("CloseEditor", "Text", LocTranslationSource.File)</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("_TextEditorInsertImage")
        @Html.Partial("_TextEditorInsertLink")
    }
    else
    {
        <div class="alert alert-danger">@Localizer.Translate("NoTextSelected", "Text", LocTranslationSource.File)</div>
    }

</div>
