@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@using Microsoft.AspNetCore.Http.Extensions
@model Vokabular.RestClient.Results.PagedResultList<Vokabular.MainService.DataContracts.Contracts.FilteringExpressionSetDetailContract>

@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("ExternalRepositoriesTitle", "RepositoryImport", LocTranslationSource.File);
}

@section styles {
    <link rel="stylesheet" href="~/Areas/RepositoryImport/css/ridics.repositoryImport.css" />
}

<div class="content-container">
    <div class="row project-import-layout">
        @Html.Partial("~/Areas/RepositoryImport/Views/_LeftMenu.cshtml")
        <div class="vertical-splitter"></div>

        <div class="content" id="project-import-layout-content">
            <h1> @Localizer.Translate("FilteringSetList", "RepositoryImport", LocTranslationSource.File)</h1>
            <div class="col-md-offset-11 col-md-1 create-btn">
                <a class="btn btn-default" href="@Url.Action("Create", "FilteringExpressionSet", new {area = "RepositoryImport"})">
                    @Localizer.Translate("CreateFilteringSetButton", "RepositoryImport", LocTranslationSource.File)
                </a> 
            </div>
     
            <ul class="bib-listing">
                @foreach (var filteringSet in Model.List)
                {
                    <li class="list-item">
                        <div class="visible-content">
                            <div class="visible-wrapper">
                                <div class="left-panel"></div>
                                <div class="middle-panel">
                                    <div class="heading">@filteringSet.Name</div>
                                    <div class="body">@filteringSet.BibliographicFormat.Name</div>
                                </div>
                                <div class="right-panel">
                                    <a class="btn btn-sm book-button button" href="@Url.Action("Detail", "FilteringExpressionSet", new {area = "RepositoryImport", id = filteringSet.Id})">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a type="button" class="btn btn-sm information-button button" href="@Url.Action("Delete", "FilteringExpressionSet", new {area = "RepositoryImport", id = filteringSet.Id})">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>