@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@model ITJakub.Web.Hub.Areas.RepositoryImport.Models.FilteringSetViewModel

@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("ExternalRepositoriesTitle", "RepositoryImport", LocTranslationSource.File);
}

@section styles {
    <link rel="stylesheet" href="~/Areas/RepositoryImport/css/ridics.repositoryImport.css" />
}

<div class="content-container">
    <div class="row project-import-layout">
        @Html.Partial("~/Areas/RepositoryImport/Views/_LeftMenu.cshtml")
        <div class="vertical-splitter"></div>

        <div class="content" id="project-import-layout-content">

            <h1>@Localizer.Translate("AddNews", "News", LocTranslationSource.File)</h1>

            <p>
                @using (Html.BeginForm("Add", "News", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.FilteringExpressionSet.Name, htmlAttributes: new { @class = "control-label col-md-1", @required = true })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FilteringExpressionSet.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FilteringExpressionSet.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FilteringExpressionSet.BibliographicFormat, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.FilteringExpressionSet.BibliographicFormat, Model.AvailableBibliographicFormats, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-1">
                                <input type="submit" value="@Localizer.Translate("Submit","News", LocTranslationSource.File)" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </p>
            
            @foreach (var expr in Model.FilteringExpressionSet.FilteringExpressions)
            {
                @Html.TextBoxFor(m => m.FilteringExpressionSet.FilteringExpressions)
            }
        </div>
    </div>
</div>