@using ITJakub.Web.Hub.Constants
@using ITJakub.Web.Hub.Controllers
@using ITJakub.Web.Hub.Options
@using Microsoft.Extensions.Options
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@using Vokabular.Shared.AspNetCore.Extensions

@inject ILocalizationService Localizer
@inject IRazorLocalizationService RazorLocalizer
@inject IOptions<PortalOption> PortalConfig

@{
    ViewBag.Title = Localizer.Translate("IndexTitle", "Home", LocTranslationSource.File);
    var emailConfirmed = User.IsEmailConfirmed();

}
@section scripts{
    <script asp-append-version="true" src="~/js/itjakub.home.js"></script>
    <script asp-append-version="true" src="~/js/itjakub.news.js"></script>
}
@section styles{
    <link asp-append-version="true" rel="stylesheet" href="~/css/ITJakub.Home.css" />
}

<script type="text/javascript">
    $(document).ready(function () {
        new News().initNews();
    });
</script>

<div class="top-offset-main-site">

    @if (emailConfirmed.HasValue && !emailConfirmed.Value)
    {
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            @RazorLocalizer.TranslateFormat(
                "EmailIsNotConfirmedAlert1",
                "Home",
                Html.ActionLink(
                    Localizer.Translate("EmailIsNotConfirmedAlert2", "Home").ToString(),
                    "UserProfile",
                    "Account",
                    new { actualTab = AccountTab.UpdateContact })
                )
            @Localizer.Translate("EmailIsNotConfirmedAlertDescription")
        </div>
    }

    <div id="searchUrl" class="hide" data-search-url="@(PortalConfig.Value.PortalType == PortalType.CommunityPortal
                                                          ? Url.Action("List", "Editions", new {area = "Editions"})
                                                          : Url.Action("Search", "Bibliographies", new {area = "Bibliographies"}) )"></div>

    <form id="homeSearch" role="form">
        <div class="searchbar">
            <div class="searchbar-inputs">
                <input type="text" class="form-control searchbar-input" id="searchbox" placeholder=" @Localizer.Translate("Find...", "Home", LocTranslationSource.File)" style="max-width: 100%;" />
            </div>
            <div class="searchbar-buttons">
                <button type="button" class="btn btn-default searchbar-button search">
                    @Localizer.Translate("Search", "Home", LocTranslationSource.File)
                </button>
            </div>
        </div>
    </form>

    <div style="height: 73vh;">
        <div class="content-container left-panel">
            <img src='@Url.Content("~/images/mlceni_pink.jpg")' alt="@Localizer.Translate("Silence", "Home", LocTranslationSource.File)" class="centered" style="max-height: 100%; max-width: 100%;" />
        </div>
        <div class="content-container right-panel">
            <div id="news" class="news">
                <h1>@Localizer.Translate("News", "Home", LocTranslationSource.File)</h1>

                <div class="news-feeds">
                    <a href="@Url.Action("Feed", "News", new {feedType = FeedType.Atom.ToString()})" class="news-feed-atom"></a>
                    <a href="@Url.Action("Feed", "News", new {feedType = FeedType.Rss.ToString()})" class="news-feed-rss"></a>
                </div>

                <div id="news-container"></div>

                <div id="news-paginator" class="centered"></div>

            </div>


        </div>


    </div>
</div>