@model Vokabular.MainService.DataContracts.Contracts.UserDetailContract
@using ITJakub.Web.Hub.Constants
@using ITJakub.Web.Hub.Controllers
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer
@inject IRazorLocalizationService RazorLocalizer

@{
    ViewBag.Title = Localizer.Translate("IndexTitle", "Home", LocTranslationSource.File);
}
@section scripts{
    <script src="~/js/itjakub.home.js"></script>
    <script src="~/js/itjakub.news.js"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/ITJakub.Home.css" />
}

<script type="text/javascript">
    $(document).ready(function () {
        new News().initNews();
    });
</script>

<div class="top-offset-main-site">
    @if (Model != null && !Model.IsEmailConfirmed)
    {
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i> 
            @RazorLocalizer.TranslateFormat(
                "EmailIsNotConfirmedAlert1",
                "Home",
                Html.ActionLink(
                    Localizer.TranslateFormat("EmailIsNotConfirmedAlert2", "Home").ToString(),
                    "AccountSettings",
                    "Account",
                    new {actualTab = AccountTab.UpdateContact})
                )
            @Localizer.Translate("EmailIsNotConfirmedAlertDescription")
        </div>
    }

    <form role="form" class="form-horizontal">
        <div class="form-group searchbar">
            <div class="searchbar-buttons">
                <button type="button" class="btn btn-default searchbar-button">
                    @Localizer.Translate("Search", "Home", LocTranslationSource.File)
                </button>
                <button type="button" class="btn btn-default searchbar-button">
                    @Localizer.Translate("Specify", "Home", LocTranslationSource.File)
                </button>
            </div>
            <div class="searchbar-inputs">
                <input type="text" class="form-control searchbar-input" id="searchbox" placeholder=" @Localizer.Translate("Find...", "Home", LocTranslationSource.File)" style="max-width: 100%;"/>
            </div>

        </div>
    </form>

    <div style="height: 73vh;">
        <div class="content-container left-panel">
            <img src='@Url.Content("~/images/mlceni_pink.jpg")' alt="@Localizer.Translate("Silence", "Home", LocTranslationSource.File)" class="centered" style="max-height: 100%; max-width: 100%;"/>
        </div>
        <div class="content-container right-panel">
            <div id="news" class="news">
                <h1>@Localizer.Translate("News", "Home", LocTranslationSource.File)</h1>

                <div class="news-feeds">
                    <a href="@Url.Action("Feed", "News", new {feedType = FeedType.Atom.ToString()})" class="news-feed-atom"></a>
                    <a href="@Url.Action("Feed", "News", new {feedType = FeedType.Rss.ToString()})" class="news-feed-rss"></a>
                </div>

                <div id="news-container"></div>

                <div id="news-paginator" class="centered"></div>

            </div>


        </div>


    </div>
</div>