@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Net.Http
@model ITJakub.Web.Hub.Areas.RepositoryImport.Models.ImportViewModel
@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("ExternalRepositoriesTitle", "RepositoryImport", LocTranslationSource.File);
}

@section styles {
    <link rel="stylesheet" href="~/Areas/RepositoryImport/css/ridics.repositoryImport.css" />
}
@section scripts {
    <script src="~/Areas/RepositoryImport/js/ridics.repositoryImport.js" type="text/javascript"></script>
}

<div class="content-container">
    <div class="row project-import-layout">
        @Html.Partial("~/Areas/RepositoryImport/Views/_LeftMenu.cshtml")
        <div class="vertical-splitter"></div>

        <div class="content" id="project-import-layout-content">
            <div class="col-md-12">
                <h1>@Localizer.Translate("ImportExternalRepositoryList", "RepositoryImport", LocTranslationSource.File)</h1>
            </div>
            
            <div class="col-md-offset-10 col-md-2 right-align-btn">
                <input type="button" id="select-all-repositories" value="@Localizer.Translate("SelectAll", "RepositoryImport", LocTranslationSource.File)" class="btn btn-default" />
            </div>

            <div class="col-md-12">
                @using (Html.BeginForm("StartImport", "RepositoryImport", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group repositories">
                        <ul class="bib-listing">
                            @for (var idx = 0; idx < Model.ExternalRepositoryCheckBoxes.Count; idx++)
                            {
                                <li class="list-item">
                                    <div class="visible-content">
                                        <div class="visible-wrapper">
                                            <div class="left-panel"></div>
                                            <div class="middle-panel">
                                                <div class="heading">
                                                    @Html.HiddenFor(x => Model.ExternalRepositoryCheckBoxes[idx].Id)
                                                    @Html.DisplayFor(x => Model.ExternalRepositoryCheckBoxes[idx].Name)
                                                    @Html.HiddenFor(x => Model.ExternalRepositoryCheckBoxes[idx].Name)
                                                </div>
                                            </div>
                                            <div class="right-panel">
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(x => Model.ExternalRepositoryCheckBoxes[idx].IsChecked)
                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden-content"></div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="col-md-offset-10 col-md-2 right-align-btn">
                        <input type="submit" id="start-import-btn" value="@Localizer.Translate("Import", "RepositoryImport", LocTranslationSource.File)" class="btn btn-default disabled" />
                    </div>


                }
            </div>
                </div>
    </div>
</div>