@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<ITJakub.Web.Hub.Areas.Admin.Models.ProjectItemViewModel>
@inject ILocalizationService Localizer

@if (!string.IsNullOrEmpty(Model.SearchQuery))
{
    <div class="row reset-search">
        <div class="query">
            <span class="text-nowrap">@Localizer.Translate("SearchQuery", "Admin"): <span class="searched-query">@Model.SearchQuery</span></span>
        </div>
        <div class="reset-search-form">
            <form asp-action="List" asp-controller="Project" method="get" class="">
                <button type="submit" class="btn btn-sm btn-default">@Localizer.Translate("ResetSearch", "Admin")</button>
            </form>
        </div>
    </div>
    <hr />
}


<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@if (Model != null && Model.List.Count != 0)
{
    @await Html.PartialAsync("_ProjectListItem", Model)
}
else
{
    <div class="alert alert-info">
        <i class="fa fa-info-circle fa-lg"></i>
        @if (!string.IsNullOrEmpty(Model.SearchQuery))
        {
            @(Localizer.Translate("NoProjectsSearch", "Admin") + "\"")<span class="searched-query">@Model.SearchQuery</span>
            @("\"")
        }
        else
        {
            @Localizer.Translate("NoProjectsFound", "Admin")
        }
    </div>
}