@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectListViewModel

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var viewModel in Model.List)
{
    <div class="project-item row" data-project-id="@viewModel.Id" data-project-name="@viewModel.Name">
        <div class="col-md-6">
            <a href="@Url.Action("Project", "Project", new {id = viewModel.Id})">
                <div>
                    <strong>@viewModel.Name</strong>
                </div>
                <div>@viewModel.PublisherText</div>
                <div>@viewModel.LiteraryOriginalText</div>
                <div>Počet stran: @viewModel.PageCount</div>
            </a>
        </div>
        <div class="col-md-4">
            Naposledy upraveno: @viewModel.LastEditDate uživatelem @viewModel.LastEditUser<br />
            Vytvořeno: @viewModel.CreateDate uživatelem @viewModel.CreateUser
        </div>
        <div class="col-md-2 project-item-buttons">
            <a href="#" class="delete-button">
                <div>
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
                <div>Smazat</div>
            </a>
            <a href="@Url.Action("Project", "Project", new {id = viewModel.Id})">
                <div>
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <div>Upravit</div>
            </a>
        </div>
    </div>
    <hr />
}