@using System.Threading.Tasks
@using ITJakub.Web.Hub.Areas.Admin.Models
<div>
    <ul class="nav nav-tabs" role="tablist" id="project-work-tabs">
        <li role="presentation" class="active"><a href="#project-work-publications" aria-controls="project-work-publications" role="tab">Publikace</a></li>
        <li role="presentation"><a href="#project-work-page-list" aria-controls="project-work-page-list" role="tab">Seznam stránek</a></li>
        <li role="presentation"><a href="#project-work-cooperation" aria-controls="project-work-cooperation" role="tab">Spolupráce</a></li>
        <li role="presentation"><a href="#project-work-metadata" aria-controls="project-work-metadata" role="tab">Metadata</a></li>
        <li role="presentation"><a href="#project-work-history" aria-controls="project-work-history" role="tab">Historie</a></li>
    </ul>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="project-work-publications" data-panel-type="@Html.Raw((int)ProjectModuleTabType.WorkPublications)"></div>
        <div role="tabpanel" class="tab-pane" id="project-work-page-list" data-panel-type="@Html.Raw((int)ProjectModuleTabType.WorkPageList)"></div>
        <div role="tabpanel" class="tab-pane" id="project-work-cooperation" data-panel-type="@Html.Raw((int)ProjectModuleTabType.WorkCooperation)"></div>
        <div role="tabpanel" class="tab-pane" id="project-work-metadata" data-panel-type="@Html.Raw((int)ProjectModuleTabType.WorkMetadata)"></div>
        <div role="tabpanel" class="tab-pane" id="project-work-history" data-panel-type="@Html.Raw((int)ProjectModuleTabType.WorkHistory)"></div>
    </div>
</div>