@using ITJakub.Web.Hub.Areas.Admin.Models
@using ITJakub.Web.Hub.Areas.Admin.Models.Type
@inject ILocalization Localizer

<div>
    <ul class="nav nav-tabs" role="tablist" id="project-resource-tabs">
        <li role="presentation" class="active"><a href="#project-resource-discussion" aria-controls="project-resource-publications" role="tab">@Localizer.Translate("Discussion", "Admin")</a></li>
        <li role="presentation"><a href="#project-resource-preview" aria-controls="project-resource-preview" role="tab">@Localizer.Translate("Preview", "Admin")</a></li>
        <li role="presentation"><a href="#project-resource-metadata" aria-controls="project-resource-metadata" role="tab">@Localizer.Translate("Metadata", "Admin")</a></li>
    </ul>
    
    <div class="tab-content" id="resource-tab-content">
        <div role="tabpanel" class="tab-pane active" id="project-resource-discussion" data-panel-type="@Html.Raw((int)ProjectModuleTabType.ResourceDiscussion)"></div>
        <div role="tabpanel" class="tab-pane" id="project-resource-preview" data-panel-type="@Html.Raw((int)ProjectModuleTabType.ResourcePreview)"></div>
        <div role="tabpanel" class="tab-pane" id="project-resource-metadata" data-panel-type="@Html.Raw((int)ProjectModuleTabType.ResourceMetadata)"></div>
    </div>
    
    <div id="resource-version-panel" class="resource-version-panel"></div>

    <div class="text-center">
        <button type="button" class="btn btn-default" id="project-resource-version-button">
            <div class="resource-version-button-icon">
                <span class="glyphicon glyphicon-menu-up" id="project-resource-version-icon-up"></span>
                <span class="glyphicon glyphicon-menu-down" id="project-resource-version-icon-down"></span>
            </div>
            <div>@Localizer.Translate("SourceVersion", "Admin")</div>
        </button>
    </div>
</div>