@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectListViewModel
@inject ILocalization Localizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var viewModel in Model.List)
{
    <div class="project-item row" data-project-id="@viewModel.Id" data-project-name="@viewModel.Name">
        <div class="col-md-6">
            <a href="@Url.Action("Project", "Project", new {id = viewModel.Id})">
                <div>
                    <strong>@viewModel.Name</strong>
                </div>
                <div>@viewModel.PublisherText</div>
                <div>@viewModel.LiteraryOriginalText</div>
                <div>@Localizer.Translate("NumberOfPages", "Admin"): @viewModel.PageCount</div>
            </a>
        </div>
        <div class="col-md-4">
            @Localizer.Translate("LastEdited", "Admin"): @viewModel.LastEditDate @Localizer.Translate("ByUser", "Admin") @viewModel.LastEditUser<br />
            @Localizer.Translate("Created", "Admin"): @viewModel.CreateDate @Localizer.Translate("ByUser", "Admin") @viewModel.CreateUser
        </div>
        <div class="col-md-2 project-item-buttons">
            <a href="#" class="delete-button">
                <div>
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
                <div>@Localizer.Translate("Delete", "Admin")</div>
            </a>
            <a href="@Url.Action("Project", "Project", new {id = viewModel.Id})">
                <div>
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <div>@Localizer.Translate("Edit", "Admin")</div>
            </a>
        </div>
    </div>
    <hr />
}