@using Scalesoft.Localization.AspNetCore
@model List<ITJakub.Web.Hub.Areas.Admin.Models.ResourceVersionViewModel>
@inject ILocalizationService Localizer

<div>
    <div class="resource-version-table">
        <table>
            <tr>
                <th>@Localizer.Translate("VersionNumber", "Admin")</th>
                <th>@Localizer.Translate("Commment", "Admin")</th>
                <th>@Localizer.Translate("CreateDate", "Admin")</th>
                <th>@Localizer.Translate("Author", "Admin")</th>
            </tr>
            @foreach (var versionViewModel in Model)
            {
                <tr>
                    <td>@versionViewModel.VersionNumber</td>
                    <td>@versionViewModel.Comment</td>
                    <td>@versionViewModel.CreateDate</td>
                    <td>@versionViewModel.Author</td>
                </tr>
            }
        </table>
    </div>

    <div class="resource-version-control">
        <button type="button" class="btn btn-default">@Localizer.Translate("CreateNewVersion", "Admin")</button>
        <button type="button" class="btn btn-default">@Localizer.Translate("Delete", "Admin")</button>
        <button type="button" class="btn btn-default">@Localizer.Translate("Duplicate", "Admin")</button>
    </div>
</div>
