@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectListViewModel
@using ITJakub.Web.Hub.Core
@using Scalesoft.Localization.AspNetCore
@using Vokabular.MainService.DataContracts.Contracts.Type
@using Vokabular.Shared.DataContracts.Types
@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("ProjectList", "Admin");
}

@section styles {
    <link asp-append-version="true" rel="stylesheet" href="~/Areas/Admin/css/ridics.project.css"/>
    <link asp-append-version="true" rel="stylesheet" href="~/css/ridics.list.css"/>
}

@section scripts {
    <script asp-append-version="true" src="~/js/ridics.list.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.list.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.client.js"></script>
}

<div class="content-container project-list">
    <div class="row">
        <div class="col-xs-12 project-section" id="project-section">
            <h2>@Localizer.Translate("ProjectList", "Admin")</h2>
            <div class="section">
                <div class="row button-menu">
                    <div class="col-xs-12 col-sm-2">
                        <button type="button" class="btn btn-default" id="new-project-button">
                            @Localizer.Translate("CreateNewProject", "Admin")
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <form asp-action="List" asp-controller="Project" method="get" class="project-search-form search-form form-inline">
                            <div class="form-group">
                                <select asp-items="Model.FilterTypes" class="form-control" id="projectOwnerFilter" title="@Localizer.Translate("Filter", "Admin")">
                                </select>
                                <div class="search-input" title="@Localizer.Translate("FindByName", "Admin")">
                                    <input class="form-control search-value" name="search" placeholder="@Localizer.Translate("ProjectName", "Admin")" value="@Model.Projects.SearchQuery"/>
                                    <i class="fa fa-close reset-search-button"></i>
                                </div>
                                <div class="search-button" title="@Localizer.Translate("FindByName", "Admin")">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr/>

                <div id="projectListContainer" class="list-container selectable">
                    @await Html.PartialAsync("_ProjectListContent", Model.Projects)
                </div>
                <div id="projectPagination" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="new-project-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("NewProject", "Admin")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="new-project-name" class="col-md-3 col-lg-4 control-label">@Localizer.Translate("NewProjectName", "Admin")</label>
                        <div class="col-md-8 col-lg-7">
                            <input class="form-control" id="new-project-name" type="text" maxlength="@Projects.MaxNameLength">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-project-text-type" class="col-md-3 col-lg-4 control-label">@Localizer.Translate("TextType", "Admin")</label>
                        <div class="col-md-8 col-lg-7">
                            <select class="form-control" id="new-project-text-type">
                                <option value="@TextTypeEnumContract.Transliterated">@Localizer.Translate("Transliterated", "Admin")</option>
                                <option value="@TextTypeEnumContract.Transcribed" selected="selected">@Localizer.Translate("Transcribed", "Admin")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-lg-4 control-label">@Localizer.Translate("CreateForumInModules", "Admin")</label>
                        <div class="col-md-8 col-lg-7">
                            @{
                                foreach (var bookType in Model.AvailableBookTypes)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="bookType" value="@bookType.ToString()" data-book-type="@bookType.ToString()" @(bookType == BookTypeEnumContract.Edition ? "checked" : "")/>
                                            @Localizer.Translate(bookType.ToString(), "Admin")
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Close2", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Create", "Admin")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="delete-project-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("DeleteProject", "Admin")</h4>
            </div>
            <div class="modal-body">
                @Localizer.Translate("DeleteProjectAreYouSure", "Admin") "<span id="delete-project-name"></span>"?
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringDelete", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                <button type="button" class="btn btn-default save-button">
                    <span class="saving-icon loading-small-button"></span>@Localizer.Translate("Delete", "Admin")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="renameProjectDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("RenameProject", "Admin")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="renameProjectInput" class="col-md-3 col-lg-4 control-label">@Localizer.Translate("NewProjectName", "Admin")</label>
                        <div class="col-md-8 col-lg-7">
                            <input class="form-control" id="renameProjectInput" type="text" maxlength="@Projects.MaxNameLength">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-lg-offset-4 col-md-8 col-lg-7">
                            <button type="button" class="btn btn-default" id="editProject">@Localizer.Translate("GoToProjectEdit", "Admin")</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Close2", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Rename", "Admin")</button>
            </div>
        </div>
    </div>
</div>