@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectItemViewModel
@using System.Threading.Tasks
@using ITJakub.Web.Hub.Core
@{
    ViewBag.Title = "Projekt - " + Model.Name;
}

@section styles {
    <link rel="stylesheet" href="~/Areas/Admin/css/ridics.project.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css"/>
}
@section scripts {
    <script src="~/Areas/Admin/js/ridics.project.module.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.work.tabs.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.resource.tabs.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.manager.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.editors-common-base.bundle.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.text-editor.bundle.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.page-image-viewer.bundle.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.page-list-editor.bundle.js"></script>
    <script src="~/Areas/Admin/js/edition-note/ridics.project.edition-note.main.js"></script>
    <script type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>
}

<div id="project-id" class="hidden">@Model.Id</div>

<div class="content-container">
    <div class="row project-layout">
        <div class="left-menu" id="left-menu">
            <div class="project-title">Název díla</div>
            <div class="list-group list-group-root" id="project-navigation">
                <a href="#" class="list-group-item active" id="project-navigation-root">Dílo</a>
                <div class="list-group">
                    <a href="#" class="list-group-item" id="project-navigation-image">Obrazové skeny</a>
                    <a href="#" class="list-group-item" id="project-navigation-text">Texty</a>
                    <a href="#" class="list-group-item" id="project-navigation-audio">Audio</a>
                    <a href="#" class="list-group-item" id="project-navigation-video">Video</a>
                </div>
            </div>

            <div class="resource-panel" id="resource-panel">

                <div>
                    <button type="button" class="btn btn-default" id="add-resource-button">Přidat zdroj</button>
                    <button type="button" class="btn btn-default" id="delete-resource-button">Smazat zdroj</button>
                    <button type="button" class="btn btn-default" id="rename-resource-button">Přejmenovat zdroj</button>
                    <button type="button" class="btn btn-default" id="duplicate-resource-button">Duplikovat zdroj</button>
                    <button type="button" class="btn btn-default" id="create-resource-version-button">Vytvořit novou verzi</button>
                </div>
            </div>
        </div>

        <div class="vertical-splitter"></div>

        <div class="vertical-splitter-control">
            <button id="splitter-button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
        </div>

        <div class="content" id="project-layout-content">
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="new-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nové soubory</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <form action="@Url.Action("UploadResource", "Project")" method="post" class="dropzone" enctype="multipart/form-data" id="new-resource-upload">
                                <div class="hidden">
                                    <input type="hidden" id="new-resource-session-id" name="sessionId" value="0"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="new-resource-comment">Komentář k první verzi</label>
                            <textarea class="form-control" id="new-resource-comment" maxlength="@Projects.MaxResourceCommentLength"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">Chyba při ukládání</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>Hotovo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="rename-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Přejmenovat zdroj</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="rename-resource-original" class="col-md-3 control-label">Původní název</label>
                        <div class="col-md-8">
                            <input type="text" id="rename-resource-original" class="form-control" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rename-resource-new" class="col-md-3 control-label">Nový název</label>
                        <div class="col-md-8">
                            <input type="text" id="rename-resource-new" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">Chyba při ukládání</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>Uložit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="delete-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Smazat zdroj</h4>
            </div>
            <div class="modal-body">
                Opravdu chcete smazat zdroj "<span id="delete-resource-name"></span>"?
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">Chyba při mazání</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>Smazat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="duplicate-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Duplikovat zdroj</h4>
            </div>
            <div class="modal-body">
                Opravdu chcete duplikovat zdroj "<span id="duplicate-resource-name"></span>"?
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">Chyba při duplikování</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>Duplikovat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="new-resource-version-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nová verze zdroje <span id="new-resource-version-original"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <form action="@Url.Action("UploadNewResourceVersion", "Project")" method="post" class="dropzone" enctype="multipart/form-data" id="new-resource-version-upload">
                                <div class="hidden">
                                    <input type="hidden" id="new-resource-version-session-id" name="sessionId" value="0"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="new-resource-comment">Komentář k nové verzi</label>
                            <textarea class="form-control" id="new-resource-version-comment" maxlength="@Projects.MaxResourceCommentLength"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">Chyba při ukládání</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>Uložit</button>
            </div>
        </div>
    </div>
</div>