@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectItemViewModel
@using ITJakub.Web.Hub.Helpers
@using Scalesoft.Localization.AspNetCore

@inject ILocalizationService Localizer
@inject TextTypeLocalizer TextTypeLocalizer

@{
    ViewBag.Title = Localizer.Translate("ProjectHeader", "Admin") + Model.Name;
}

@section styles {
    <link asp-append-version="true" rel="stylesheet" href="~/Areas/Admin/css/ridics.project.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/ridics.permissions.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/ridics.checkbox.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/ridics.list.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/gijgo/dist/modular/css/checkbox.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/gijgo/dist/modular/css/core.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/gijgo/dist/modular/css/tree.min.css" />
}
@section scripts {
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/chapter-editor/ridics.project.chapter-editor.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/editors-common-base/ridics.project.editors.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/term-editor/ridics.project.term-editor.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/text-editor/ridics.project.text-editor.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/page-image-viewer/ridics.project.page-image-viewer.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/page-list-editor/ridics.project.page-list-editor.bundle.js"></script>
    <script asp-append-version="true" src="~/js/itjakub.simplemde.tools.js"></script>
    <script asp-append-version="true" src="~/js/ridics.text-api-client.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/edition-note/ridics.project.edition-note.main.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>
    <script asp-append-version="true" src="~/lib/gijgo/dist/modular/js/core.min.js"></script>
    <script asp-append-version="true" src="~/lib/gijgo/dist/modular/js/checkbox.min.js"></script>
    <script asp-append-version="true" src="~/lib/gijgo/dist/modular/js/tree.min.js"></script>
    <script asp-append-version="true" src="~/lib/lazysizes/lazysizes.min.js"></script>
}

<div id="project-id" class="hidden">@Model.Id</div>

<div class="content-container">
    <div class="row project-layout">
        <div class="left-menu" id="left-menu">
            <div class="project-title">@Model.Name<br/><span class="text-type">@TextTypeLocalizer.TranslateTextTypeFull(Model.TextType)</span></div>
            <div class="list-group list-group-root" id="project-navigation">
                <a href="#" class="list-group-item active" id="project-navigation-root">@Localizer.Translate("Project", "Admin")</a>
                <div class="list-group">
                    <a href="#" class="list-group-item" id="project-navigation-image">@Localizer.Translate("ImageScan", "Admin")</a>
                    <a href="#" class="list-group-item" id="project-navigation-text">@Localizer.Translate("Texts", "Admin")</a>
                    <a href="#" class="list-group-item" id="project-navigation-audio">@Localizer.Translate("Audio", "Admin")</a>
                    <a href="#" class="list-group-item" id="project-navigation-terms">@Localizer.Translate("Terms", "Admin")</a>
                </div>
            </div>

            <div class="resource-panel" id="resource-panel">
            </div>
        </div>

        <div class="vertical-splitter"></div>

        <div class="vertical-splitter-control">
            <button id="splitter-button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
        </div>

        <div class="content" id="project-layout-content">
        </div>
    </div>
</div>
