@model ITJakub.Web.Hub.Areas.Admin.Models.ProjectItemViewModel
@using ITJakub.Web.Hub.Core
@using Scalesoft.Localization.AspNetCore

@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("ProjectHeader", "Admin") + Model.Name;
}

@section styles {
    <link asp-append-version="true" rel="stylesheet" href="~/Areas/Admin/css/ridics.project.css"/>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css"/>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/gijgo/combined/css/gijgo.css"/>
}
@section scripts {
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.module.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.work.tabs.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.resource.tabs.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.client.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.editors-common-base.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.text-editor.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.page-image-viewer.bundle.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.project.page-list-editor.bundle.js"></script>
    <script asp-append-version="true" src="~/js/itjakub.simplemde.icons.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/edition-note/ridics.project.edition-note.main.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/lib/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/lib/gijgo/combined/js/gijgo.min.js"></script>
}

<div id="project-id" class="hidden">@Model.Id</div>

<div class="content-container">
    <div class="row project-layout">
        <div class="left-menu" id="left-menu">
            <div class="project-title">@Localizer.Translate("ProjectTitle", "Admin")</div>
            <div class="list-group list-group-root" id="project-navigation">
                <a href="#" class="list-group-item active" id="project-navigation-root">@Localizer.Translate("Project", "Admin")</a>
                <div class="list-group">
                    <a href="#" class="list-group-item" id="project-navigation-image">@Localizer.Translate("ImageScan", "Admin")</a>
                    <a href="#" class="list-group-item" id="project-navigation-text">@Localizer.Translate("Texts", "Admin")</a>
                    <a href="#" class="list-group-item" id="project-navigation-audio">@Localizer.Translate("Audio", "Admin")</a>
                    <a href="#" class="list-group-item" id="project-navigation-video">@Localizer.Translate("Video", "Admin")</a>
                </div>
            </div>

            <div class="resource-panel" id="resource-panel">

                <div>
                    <button type="button" class="btn btn-default" id="add-resource-button">@Localizer.Translate("AddResource", "Admin")</button>
                    <button type="button" class="btn btn-default" id="delete-resource-button">@Localizer.Translate("DeleteResource", "Admin")</button>
                    <button type="button" class="btn btn-default" id="rename-resource-button">@Localizer.Translate("RenameResource", "Admin")</button>
                    <button type="button" class="btn btn-default" id="duplicate-resource-button">@Localizer.Translate("DuplicateResource", "Admin")</button>
                    <button type="button" class="btn btn-default" id="create-resource-version-button">@Localizer.Translate("CreateNewVersion", "Admin")</button>
                </div>
            </div>
        </div>

        <div class="vertical-splitter"></div>

        <div class="vertical-splitter-control">
            <button id="splitter-button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
        </div>

        <div class="content" id="project-layout-content">
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="new-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("NewFiles", "Admin")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <form action="@Url.Action("UploadResource", "Project")" method="post" class="dropzone" enctype="multipart/form-data" id="new-resource-upload">
                                <div class="hidden">
                                    <input type="hidden" id="new-resource-session-id" name="sessionId" value="0"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="new-resource-comment">@Localizer.Translate("FirstVersionComment", "Admin")</label>
                            <textarea class="form-control" id="new-resource-comment" maxlength="@Projects.MaxResourceCommentLength"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Done", "Admin")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="rename-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("RenameSource", "Admin")</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="rename-resource-original" class="col-md-3 control-label">@Localizer.Translate("OriginalTitle", "Admin")</label>
                        <div class="col-md-8">
                            <input type="text" id="rename-resource-original" class="form-control" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rename-resource-new" class="col-md-3 control-label">@Localizer.Translate("NewTitle", "Admin")</label>
                        <div class="col-md-8">
                            <input type="text" id="rename-resource-new" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Save", "Admin")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="delete-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("DeleteResource", "Admin")</h4>
            </div>
            <div class="modal-body">
                @Localizer.Translate("DeleteResourceModal", "Admin")"<span id="delete-resource-name"></span>"?
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringDelete", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Delete", "Admin")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="duplicate-resource-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("DuplicateResource", "Admin")</h4>
            </div>
            <div class="modal-body">
                @Localizer.Translate("ResourceDuplicateModal", "Admin")"<span id="duplicate-resource-name"></span>"?
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringDuplicate", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Duplicate", "Admin")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="new-resource-version-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("ResourceNewVersion", "Admin")<span id="new-resource-version-original"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <form action="@Url.Action("UploadNewResourceVersion", "Project")" method="post" class="dropzone" enctype="multipart/form-data" id="new-resource-version-upload">
                                <div class="hidden">
                                    <input type="hidden" id="new-resource-version-session-id" name="sessionId" value="0"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="new-resource-comment">@Localizer.Translate("NewVersionComment", "Admin")</label>
                            <textarea class="form-control" id="new-resource-version-comment" maxlength="@Projects.MaxResourceCommentLength"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dialog-error alert alert-danger true-inline-alert">@Localizer.Translate("ErrorDuringSave", "Admin")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Cancel", "Admin")</button>
                <button type="button" class="btn btn-default save-button"><span class="saving-icon loading-small-button"></span>@Localizer.Translate("Save", "Admin")</button>
            </div>
        </div>
    </div>
</div>