@using ITJakub.Web.Hub.Options
@using Microsoft.Extensions.Options
@model ITJakub.Web.Hub.Models.BookListingModel
@inject IOptions<PortalOption> PortalOption

@{
    ViewBag.Title = "Edice - Čtečka děl pokusná";
}
@section styles{
    <link href="~/Areas/Editions/css/itjakub.editions.css" rel="stylesheet" />
    <link href="~/lib/golden-layout/src/css/goldenlayout-base.css" rel="stylesheet" />
    <link href="~/lib/golden-layout/src/css/goldenlayout-light-theme.css" rel="stylesheet" />
    <link href="~/Areas/BookReader/css/readerStyle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/lib/golden-layout/dist/goldenlayout.js"></script>
    <script src="~/Areas/BookReader/js/new-reader.bundle.js"></script>
}

<div id="allowedSearchOptions" class="hide" data-options="@Html.Encode(Json.Serialize(PortalOption.Value.AllowedSearchOptions.ToArray()))"></div>

<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookId" data-versionid="@Model.SnapshotId" data-has-image-url="@Url.Action("HasBookImage", "Reader", new {Area = ""})" data-can-print="@Model.CanPrintEdition">
    <div id="ReaderHeaderDiv">

    </div>
    <div id="ReaderBodyDiv">

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        initGoldenReader(@Json.Serialize(Model.BookId), @Json.Serialize(Model.SnapshotId), @Json.Serialize(Model.BookTitle), @Json.Serialize(Model.BookPages), @Json.Serialize(Model.AudioTracks), @Json.Serialize(Model.SearchText, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.InitPageId));
    });
</script>

<div class="modal fade" id="book-info-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalHeader"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>
