@using ITJakub.Web.Hub.Helpers
@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<ITJakub.Web.Hub.Models.PermissionViewModel>
@inject ILocalizationService Localizer
@inject PermissionLocalizer PermissionLocalizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var permission in Model.List)
{
<tr class="permission-row" data-permission-id="@permission.Id">
    <td>
        <input type="checkbox" asp-for="@permission.IsSelected" />
    </td>
    <td>
        <div class="name">
            @PermissionLocalizer.TranslatePermissionName(permission.Name)
        </div>
        <div class="status visible-xs">
            <div class="lv-circles lv-mid" style="height: 20px; width: 20px;" hidden></div>
            <span class="success">@Localizer.Translate("Changed", "Permission")</span>
        </div>
        <div class="alert alert-danger"></div>
    </td>
    <td class="status hidden-xs">
        <div class="lv-circles lv-right" style="height: 20px; width: 20px;" hidden></div>
        <span class="success">@Localizer.Translate("Changed", "Permission")</span>
    </td>
</tr>
}