@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<Vokabular.MainService.DataContracts.Contracts.Permission.PermissionContract>
@inject ILocalizationService Localizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var permission in Model.List)
{
<tr>
    @*TODO checkbox *@
    <td>
        @Html.DisplayFor(modelItem => permission.Selected)
    </td>
    <td>
        @Html.DisplayFor(modelItem => permission.Name)
    </td>
</tr>
}