@using Scalesoft.Localization.AspNetCore
@using Vokabular.Shared.AspNetCore.Extensions
@using Vokabular.Shared.Const
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<Vokabular.MainService.DataContracts.Contracts.Permission.RoleContract>
@inject ILocalizationService Localizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var role in Model.List)
{
    <tr data-role-id="@role.Id" class="role-row">
        <td>
            @Html.DisplayFor(modelItem => role.Name)
        </td>
        <td class="buttons">
            @*TODO ajax post delete *@
            <a class="remove-role btn btn-sm btn-default @(User.HasPermission(PermissionNames.ManagePermissions) ? "" : "disabled")">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
}