@using Scalesoft.Localization.AspNetCore
@using Vokabular.Shared.AspNetCore.Extensions
@using Vokabular.Shared.Const
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<Vokabular.MainService.DataContracts.Contracts.Permission.RoleContract>
@inject ILocalizationService Localizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var role in Model.List)
{
    <tr data-role-id="@role.Id" class="role-row">
        <td>
            <div class="name">@Html.DisplayFor(modelItem => role.Name)</div>
            <div class="description">@Html.DisplayFor(modelItem => role.Description)</div>
        </td>
         @if (User.HasPermission(PermissionNames.ManagePermissions))
         {
             <td class="buttons">
                 <a asp-action="EditRole" asp-route-roleId="@role.Id" class="btn btn-sm btn-default">
                     <i class="fa fa-pencil"></i>
                 </a>
                 <a class="remove-role btn btn-sm btn-default">
                     <i class="fa fa-trash"></i>
                 </a>
             </td>
         }
    </tr>
}