@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<ITJakub.Web.Hub.Models.User.UserDetailViewModel>
@inject ILocalizationService Localizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var user in Model.List)
{
    <tr data-user-id="@user.Id" class="user-row">
        <td>
            @user.FirstName
            @user.LastName
            <div class="alert alert-danger"></div>
        </td>
        <td class="buttons">
            <a class="btn btn-sm btn-default remove-user-from-role">
                <i class="fa fa-user-times"></i>
            </a>
        </td>
    </tr>
}