@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<ITJakub.Web.Hub.Models.UserDetailViewModel>
@inject ILocalizationService Localizer

<div class="paging-info hidden" data-total-count="@Model.TotalCount" data-page-size="@Model.PageSize" data-start="@Model.Start"></div>
@foreach (var user in Model.List)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Email)
        </td>
        <td class="buttons">
            <a asp-action="EditUser" asp-route-userId="@user.Id" class="btn btn-sm btn-default">
                @Localizer.Translate("Edit", "Permission")
            </a>
            <a asp-action="EditUserRoles" asp-route-userId="@user.Id" class="btn btn-sm btn-default">
                @Localizer.Translate("Groups", "Permission")
            </a>
        </td>
    </tr>
}