@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@model ITJakub.Web.Hub.Models.RoleViewModel
@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("GroupEditTitle", "Permission", LocTranslationSource.File);
}

<h2>@Localizer.Translate("GroupEditTitle", "Permission", LocTranslationSource.File)</h2>

<div class="row" style="margin-left: 5px; width: 80%;">
    <div class="col-md-12">
        @if (Model.SuccessfulUpdate)
        {
            <div class="alert alert-success" role="alert">
                @Localizer.Translate("SuccessGroupUpdate", "Permission")
            </div>
        }
        @using (Html.BeginForm("EditRole", "Permission", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn btn-default" value="@Localizer.Translate("Save")" />
                </div>
            </div>
        }
    </div>
</div>
