@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@model ITJakub.Web.Hub.Models.UpdateUserViewModel
@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("EditUser", "Permission", LocTranslationSource.File);
}
@section styles{
    <link href="~/css/ITJakub.Permission.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/Permission/itjakub.permission.user.js"></script>
}

<div class="row">
    <div class="permission-left-panel col-md-6">
        <div id="selected-item-div" class="content hidden">
            <div class="item-details-title">@Localizer.Translate("SelectedUser", "Permission", LocTranslationSource.File)</div>
            <div class="item-details">
                <div class="detail-item">
                    <span class="detail-item-title">@Localizer.Translate("FirstName", "Permission", LocTranslationSource.File): </span>
                    <span id="specificUserFirstName"></span>
                </div>
                <div class="detail-item">
                    <span class="detail-item-title">@Localizer.Translate("LastName", "Permission", LocTranslationSource.File): </span>
                    <span id="specificUserLastName"></span>
                </div>
                <div class="detail-item">
                    <span class="detail-item-title">@Localizer.Translate("UserName", "Permission", LocTranslationSource.File): </span>
                    <span id="specificUserUsername"></span>
                </div>
                <div class="detail-item">
                    <span class="detail-item-title">@Localizer.Translate("Email", "Permission", LocTranslationSource.File): </span>
                    <span id="specificUserEmail"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="right-panel" class="permission-right-panel col-md-6">
        <div class="right-panel-title">@Localizer.Translate("UsersGroups", "Permission", LocTranslationSource.File):</div>
        <ul class="items-list"></ul>

        <div class="groups-buttons">
            <button id="addGroupButton" class="btn btn-default permission-button">+</button>
        </div>
    </div>
</div>

<div id="addToGroupDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("AddToGroup", "Permission", LocTranslationSource.File)</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab2-select-existing" data-toggle="tab">@Localizer.Translate("SelectExisting", "Permission", LocTranslationSource.File)</a>
                    </li>
                    <li>
                        <a href="#tab2-create-new" data-toggle="tab">@Localizer.Translate("CreateNew", "Permission", LocTranslationSource.File)</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab2-select-existing" class="tab-pane active">
                        <div class="permission-search">
                            <input type="text" class="form-control permission-search-input" id="groupSearchInput" placeholder="@Localizer.Translate("SearchGroup", "Permission", LocTranslationSource.File)" />
                        </div>

                        <div class="content">
                            <div class="item-details-title">@Localizer.Translate("SelectedGroup", "Permission", LocTranslationSource.File)</div>
                            <div class="item-details">
                                <div class="detail-item">
                                    <span class="detail-item-title">@Localizer.Translate("Name", "Permission", LocTranslationSource.File): </span>
                                    <span id="specificGroupName"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-item-title">@Localizer.Translate("GroupDescription", "Permission", LocTranslationSource.File): </span>
                                    <span id="specificGroupDescription"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2-create-new" class="tab-pane">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="new-group-name" class="col-md-3 control-label">@Localizer.Translate("GroupName", "Permission", LocTranslationSource.File)</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="new-group-name" name="new-text" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-group-description" class="col-md-3 control-label">@Localizer.Translate("GroupDescription", "Permission", LocTranslationSource.File)</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="new-group-description" name="new-text" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Close", "Permission", LocTranslationSource.File)</button>
                    <button type="button" class="btn btn-default" id="add-user-to-group">@Localizer.Translate("AddUserToGroup", "Permission", LocTranslationSource.File)</button>
                </div>
            </div>
        </div>
    </div>
</div>