@using ITJakub.Web.Hub.Models
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@model ITJakub.Web.Hub.Areas.Admin.Models.ListViewModel<Vokabular.MainService.DataContracts.Contracts.Permission.RoleContract>
@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("GroupPermissionManagementTitle", "Permission", LocTranslationSource.File);
}

@section styles{
    <link asp-append-version="true" href="~/css/ridics.permissions.css" rel="stylesheet"/>
}

@section scripts{
    <script asp-append-version="true" src="~/js/ridics.web-hub-api-client.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.permission-api-client.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.list.js"></script>
    <script asp-append-version="true" src="~/Areas/Admin/js/ridics.role.manager.js"></script>
}

<h2>@Localizer.Translate("GroupPermissionManagementHeadline", "Permission", LocTranslationSource.File)</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 role-section" id="role-section">
        <div class="section">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-title col col-xs-12 col-sm-2">
                            @Localizer.Translate("Group", "Permission")
                        </div>
                        <div class="col col-xs-12 col col-sm-10">
                            <form asp-action="RolePermission" asp-controller="Permission" method="get" class="role-search-form form-inline">
                                <div class="form-group">
                                    <div id="createRoleButton" class="btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="search-button">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <input class="form-control search-value" name="search" value="@Model.SearchQuery"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="role-list-container" class="list-container">
                        @await Html.PartialAsync("Widget/_RoleListWidget", Model)
                    </div>
                    <div id="role-pagination" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 user-section" id="user-section">
        <div class="section hide">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-title col col-xs-12 col-sm-2">
                            @Localizer.Translate("User", "Permission")
                        </div>
                        <div class="col col-xs-12 col col-sm-10">
                            <form asp-action="UsersByRole" asp-controller="Permission" method="get" class="user-search-form form-inline">
                                <div class="form-group">
                                    <div id="addRoleButton" class="btn btn-default">
                                        <i class="fa fa-user-plus"></i>
                                    </div>
                                    <div class="search-button">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <input class="form-control search-value" name="search" value="@Model.SearchQuery"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="user-list-container" class="list-container"></div>
                    <div id="user-pagination" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 permission-section" id="permission-section">
        <div class="section hide">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-title col col-xs-12 col-sm-2">
                            @Localizer.Translate("Permissions", "Permission")
                        </div>
                        <div class="col col-xs-12 col col-sm-10">
                            <form asp-action="RolePermissionList" asp-controller="Permission" method="get" class="permission-search-form form-inline">
                                <div class="form-group">
                                    <div class="search-button">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <input class="form-control search-value" name="search" value="@Model.SearchQuery"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="permission-list-container" class="list-container"></div>
                    <div id="permission-pagination" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createRoleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("NewGroup", "Permission", LocTranslationSource.File)</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="new-role-name" class="col-md-3 control-label">@Localizer.Translate("GroupName", "Permission", LocTranslationSource.File)</label>
                        <div class="col-md-8">
                            <input class="form-control" id="new-role-name" name="new-text" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-role-description" class="col-md-3 control-label">@Localizer.Translate("Description", "Permission", LocTranslationSource.File)</label>
                        <div class="col-md-8">
                            <input class="form-control" id="new-role-description" name="new-text" type="text">
                        </div>
                    </div>
                    <div id="create-role-error"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Close", "Permission", LocTranslationSource.File)</button>
                <button type="button" class="btn btn-default" id="create-role">@Localizer.Translate("Create", "Permission", LocTranslationSource.File)</button>
            </div>
        </div>
    </div>
</div>

<div id="addToRoleDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer.Translate("AddToGroup", "Permission", LocTranslationSource.File)</h4>
            </div>
            <div class="modal-body">
                <div class="permission-search">
                    <input type="text" class="form-control permission-search-input" id="mainSearchInput" placeholder="@Localizer.Translate("SearchUser", "Permission", LocTranslationSource.File)"/>
                </div>

                <div class="content">
                    <div class="item-details">
                        <div class="detail-item">
                            <span class="detail-item-title">@Localizer.Translate("SelectedGroup", "Permission", LocTranslationSource.File): </span>
                            <span id="specificRoleName"></span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-item-title">@Localizer.Translate("Description", "Permission", LocTranslationSource.File): </span>
                            <span id="specificRoleDescription"></span>
                        </div>
                        <div class="detail-item top-separation-line">
                            <span class="detail-item-title">@Localizer.Translate("SelectedUser", "Permission", LocTranslationSource.File): </span>
                            <span id="selectedUser">@Localizer.Translate("UserIsNotSelected", "Permission", LocTranslationSource.File)</span>
                        </div>
                    </div>
                    <div id="add-user-to-role-error"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer.Translate("Close", "Permission", LocTranslationSource.File)</button>
                <button type="button" class="btn btn-default" id="add-user-to-role" data-init="false">@Localizer.Translate("AddUserToGroup", "Permission", LocTranslationSource.File)</button>
            </div>
        </div>
    </div>
</div>


<div id="editRoleDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="editRoleSection">
            @await Html.PartialAsync("_EditRole", new RoleViewModel(), null)
        </div>
    </div>
</div>