@model ITJakub.Web.Hub.Models.Favorite.FavoriteLabelViewModel

<div class="favorite-label-management" style="background-color: @Model.Color;" data-id="@Model.Id" data-name="@Model.Name" data-color="@Model.Color">
    <div class="row">
        <div class="col-xs-9">
            <a href="#">
                <div>@Model.Name</div>
            </a>
        </div>
        <div class="col-xs-3">
            @if (!Model.IsDefault)
            {
                <a href="#" title="Smazat štítek">
                    <div class="text-center">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
