@model ITJakub.Web.Hub.Models.Favorite.FavoriteQueriesViewModel

<div class="favorite-query">
    <div class="row">
        <div class="col-md-3">
            <span>Filtrovat:</span>
            <hr/>
            <div class="favorite-query-list">
                <a href="#" class="favorite-query-label" data-id="0" data-name="Zobrazeno vše" data-color="#0000DD">
                    <span>Zobrazit vše</span>
                </a>
                
                @foreach (var favoriteLabel in Model.FavoriteLabelList)
                {
                    <a href="#" class="favorite-query-label" data-id="@favoriteLabel.Id" data-name="@favoriteLabel.Name" data-color="@favoriteLabel.Color">
                        <span class="label" style="background-color: @favoriteLabel.Color">@favoriteLabel.Name</span>
                    </a>
                }
            </div>
        </div>

        <div class="col-md-9">
            <span>Vložit dotaz z oblíbených: <span class="label favorite-query-label-selected" style="background-color: #0000DD">Zobrazeno vše</span></span>
            <hr/>
            <div class="favorite-query-list">
                @foreach (var favoriteQuery in Model.QueryList)
                {
                    <a href="#" class="favorite-query-item" data-id="@favoriteQuery.Id" data-query="@favoriteQuery.Query" data-label-id="@favoriteQuery.FavoriteLabel.Id">
                        <div>
                            <span class="label" style="background-color: @favoriteQuery.FavoriteLabel.Color">@favoriteQuery.FavoriteLabel.Name</span>
                            <span>@favoriteQuery.Title</span>
                        </div>
                        <div class="favorite-query-raw">
                            @favoriteQuery.Query
                        </div>
                    </a>
                }
                @if (Model.QueryList.Count == 0)
                {
                    <div style="margin-left: 15px;">Žádný oblíbený dotaz</div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-7">
            <button class="btn btn-default btn-block favorite-query-save-button">
                <span class="glyphicon glyphicon-star-empty"></span> Uložit dotaz jako oblíbený
            </button>
        </div>
    </div>
</div>
