@model ITJakub.Web.Hub.Models.Favorite.NewFavoriteViewModel

<div class="form-horizontal new-favorite">
    <div class="form-group">
        <label for="favorite-name" class="col-md-3 control-label">Název položky</label>
        <div class="col-md-8">
            <input class="form-control" id="favorite-name" type="text" value="@Model.ItemName">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Vyberte štítek</label>
        <div class="col-md-8">
            <div class="form-control favorite-select-label">
                @foreach (var label in Model.Labels)
                {
                    <div class="radio">
                        <label class="favorite-select-label-item" style="background-color: @label.Color;">
                            <input type="radio" name="favorite-label" value="@label.Id" data-color="@label.Color" data-name="@label.Name" @(label.IsDefault ? "checked=checked" : string.Empty)> @label.Name
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Vybraný štítek</label>
        <div class="col-md-8">
            <span class="label label-default favorite-selected-label-info">Žádný štítek</span>
        </div>
    </div>
</div>