@using ITJakub.Web.Hub.Managers
@model ITJakub.Web.Hub.Models.Favorite.NewFavoriteViewModel

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#" data-tab-class="tab-favorite-label-assign">Přiřadit štítky</a>
    </li>
    <li>
        <a href="#" data-tab-class="tab-favorite-label-create">Vytvořit a přiřadit nový štítek</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane tab-favorite-label-assign active">
        <div class="form-horizontal new-favorite">
            <div class="form-group">
                <label class="col-md-3 control-label">Název položky</label>
                <div class="col-md-8">
                    <input class="form-control favorite-name" type="text" value="@Favorites.ShortenTitle(Model.ItemName)" maxlength="@Favorites.MaxTitleLength">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Vyberte štítek</label>
                <div class="col-md-8">
                    <div class="input-group-vertical">
                        <input class="form-control favorite-label-filter" type="text" placeholder="Filtrovat štítky" />

                        <div class="form-control favorite-select-label">
                            @foreach (var label in Model.Labels)
                            {
                                <div class="radio">
                                    <label class="favorite-select-label-item" style="background-color: @label.Color;">
                                        <input type="checkbox" name="favorite-label" value="@label.Id" data-color="@label.Color" data-name="@label.Name" @(label.IsDefault ? "data-isdefault=true" : string.Empty)> @label.Name
                                    </label>
                                </div>
                            }

                            <div class="text-center no-label-info">Žádný štítek odpovídající zadanému filtru</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Vybrané štítky</label>
                <div class="col-md-8">
                    <div class="favorite-selected-label-info">
                        <span class="label label-default">Žádný štítek</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="tab-pane tab-favorite-label-create">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Název položky</label>
                    <div class="col-md-8">
                        <input class="form-control favorite-name-2" type="text" value="@Favorites.ShortenTitle(Model.ItemName)" maxlength="@Favorites.MaxTitleLength">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Název štítku</label>
                    <div class="col-md-8">
                        <input class="form-control favorite-label-name" type="text" maxlength="@Favorites.MaxLabelLength">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Barva</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default favorite-label-color-button"><span class="glyphicon glyphicon-tint"></span></button>
                            </span>
                            <input class="form-control favorite-label-color" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Náhled štítku</label>
                    <div class="col-md-8">
                        <div class="favorite-selected-label-info-2">
                            <span class="label label-default label-preview"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>Tato funkcionalita je dostupná pouze pro přihlášené uživatele</strong>
                <br/>
                <span>Funkcionalita přidávání nových štítků je dostupná pouze pro přihlášené uživatele. Pro nepřihlášené uživatele je k dispozici pouze zjednodušená varianta pracující pouze s jedním přednastaveným štítkem.</span>
            </div>
        }
    </div>
</div>