@model ITJakub.Web.Hub.Models.Favorite.NewFavoriteViewModel

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-tab-class="tab-favorite-label-assign">Přiřadit štítky</a>
        </li>
        <li>
            <a href="#" data-tab-class="tab-favorite-label-create">Vytvořit a přiřadit nový štítek</a>
        </li>
    </ul>
}

<div class="tab-content">
    <div class="tab-pane tab-favorite-label-assign active">
        <div class="form-horizontal new-favorite">
            <div class="form-group">
                <label for="favorite-name" class="col-md-3 control-label">Název položky</label>
                <div class="col-md-8">
                    <input class="form-control" id="favorite-name" type="text" value="@Model.ItemName" maxlength="250">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Vyberte štítek</label>
                <div class="col-md-8">
                    <input class="form-control favorite-label-filter" type="text" placeholder="Filtrovat štítky" />
                
                    <div class="form-control favorite-select-label">
                        @foreach (var label in Model.Labels)
                        {
                            <div class="radio">
                                <label class="favorite-select-label-item" style="background-color: @label.Color;">
                                    <input type="checkbox" name="favorite-label" value="@label.Id" data-color="@label.Color" data-name="@label.Name" @(label.IsDefault ? "checked=checked" : string.Empty)> @label.Name
                                </label>
                            </div>
                        }

                        <div class="text-center no-label-info">Žádný štítek odpovídající zadanému filtru</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Vybrané štítky</label>
                <div class="col-md-8">
                    <div class="favorite-selected-label-info">
                        <span class="label label-default">Žádný štítek</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="tab-pane tab-favorite-label-create">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="favorite-name-2" class="col-md-3 control-label">Název položky</label>
                    <div class="col-md-8">
                        <input class="form-control" id="favorite-name-2" type="text" value="@Model.ItemName" maxlength="250">
                    </div>
                </div>

                <div class="form-group">
                    <label for="favorite-label-name" class="col-md-3 control-label">Název štítku</label>
                    <div class="col-md-8">
                        <input class="form-control" id="favorite-label-name" type="text" maxlength="50">
                    </div>
                </div>

                <div class="form-group">
                    <label for="favorite-label-color" class="col-md-3 control-label">Barva</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" id="favorite-label-color-button"><span class="glyphicon glyphicon-tint"></span></button>
                            </span>
                            <input class="form-control" id="favorite-label-color" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="favorite-label-name" class="col-md-3 control-label">Náhled štítku</label>
                    <div class="col-md-8">
                        <div class="favorite-selected-label-info-2">
                            <span class="label label-default" id="label-preview"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>