@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util

@inject ILocalization Localizer

<div class="text-area-info" style="float: right; margin-right: 140px;">
    @Localizer.Translate("Max", "global", LocTranslationSource.File) <span class="text-area-max-chars"></span> @Localizer.Translate("Characters","global", LocTranslationSource.File) <br />
    @Localizer.Translate("Remaining", "global", LocTranslationSource.File): <span class="text-area-remaining-chars" style="color: lightseagreen"></span> @Localizer.Translate("Characters", "global", LocTranslationSource.File) <br />
    @Localizer.Translate("YouCanUseDiacritics", "global", LocTranslationSource.File)
</div>

<script>
    $(document).ready(function () {
        var maxChars = $(".feedback-text-area").attr("data-val-maxlength-max");
        $(".text-area-max-chars").html(maxChars);
        $(".text-area-remaining-chars").html(maxChars);

        $(".feedback-text-area").keyup(function () {
            var text = $(this).val();
            var actualCharsRemaining = maxChars - text.length;
            if (actualCharsRemaining < 0) {
                actualCharsRemaining = 0;
                $(this).val(text.substring(0,maxChars));
            }
            $(".text-area-remaining-chars").html(actualCharsRemaining);
        });

    });
</script>