@model ITJakub.Web.Hub.Models.BookListingModel
@{
    ViewBag.Title = "Edice - Čtečka děl";
}

@section styles{
    <link href="~/Areas/Editions/css/itjakub.editions.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Editions/js/itjakub.editions.js"></script>
}


<div id="SearchDiv">

</div>

<div id="ReaderDiv" data-bookid="@Model.BookId" data-versionid="@Model.SnapshotId"  data-has-image-url="@Url.Action("HasBookImage", "Reader", new {Area = ""})" data-can-print="@Model.CanPrintEdition">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        initReader(@Json.Serialize(Model.BookId), @Json.Serialize(Model.SnapshotId), @Json.Serialize(Model.BookTitle), @Json.Serialize(Model.BookPages), @Json.Serialize(Model.SearchText, Model.JsonSerializerSettingsForBiblModule), @Json.Serialize(Model.InitPageId));
    });
</script>