@{
    ViewBag.Title = "Search";
}

@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

@using System.Web.Helpers
@model ITJakub.Web.Hub.Areas.Editions.Models.BookListingModel

<div id="Reader" data-bookid="@Model.BookId">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        var readerPlugin = new ReaderModule('#Reader');
        readerPlugin.makeReader("@Model.BookId", "@Model.BookTitle",@Html.Raw(Json.Encode(@Model.BookPages)));
    });
</script>