@inject ILocalizationService Localizer

@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Dictionaries.Models.HeadwordFeedbackViewModel
@section styles{
    <link href="~/Areas/Dictionaries/css/itjakub.dictionaries.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Dictionaries/js/itjakub.dictionaries.feedback.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("DictionariesFeedback", "Dictionaries");
}


<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model.PageStaticText)

    <p>
        @using (Html.BeginForm("Feedback", "Dictionaries", new {}, FormMethod.Post, true, new {@class = "form-horizontal", role = "form"}))
        {
            
            if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary()
                </div>
            }

            @Html.HiddenFor(m => m.BookId)
            @Html.HiddenFor(m => m.HeadwordVersionId)

            <div class="form-group optional">
                @Html.LabelFor(m => m.Dictionary, new {@class = "col-md-1 control-label"})
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Dictionary, new {@class = "form-control", @readonly = "readonly"})
                </div>
            </div>

            <div class="form-group optional">
                @Html.LabelFor(m => m.Headword, new {@class = "col-md-1 control-label"})
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Headword, new {@class = "form-control", @readonly = "readonly"})
                </div>
            </div>

            <div class="form-group">
                @Html.TextAreaFor(m => m.Text, new {@class = "form-control feedback-text-area", @style = "margin-left: 15px; width:97%; min-height: 100px; max-width: 97%", @placeholder = @Localizer.Translate("FeedbackFormPlaceholder", "global") })
            </div>

            @await Html.PartialAsync("Plugins/_CharRemaining")

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-1 control-label" })
                <div class="col-md-3">
                    @(User.Identity.IsAuthenticated ? Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = @Localizer.Translate("NameFormPlaceholder", "global"), @readonly = "readonly" }) : Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = @Localizer.Translate("NameFormPlaceholder", "global") }))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label" })
                <div class="col-md-3">
                    @(User.Identity.IsAuthenticated ? Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Localizer.Translate("EmailFormPlaceholder", "global"), @readonly = "readonly" }) : Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Localizer.Translate("EmailFormPlaceholder", "global") }))
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-9 col-md-2">
                    <input type="submit" value="@Localizer.Translate("Send", "Dictionaries")" class="btn btn-default">
                </div>
            </div>
        }
    </p>
</div>
