@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/headwordsjs")
}

@{
    ViewBag.Title = "Slovníky - Listování";
}

<script type="text/javascript">
    $(document).ready(function() {
        initDictionaryViewer("@Request["categories"]", "@Request["books"]", "@Request["page"]");
    });
</script>

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area short-search-area transparent-content-container dicitonaries-search">
            <div id="dictionarySearchDiv">
                <form role="form" class="form-horizontal">
                    <div class="form-group searchbar">
                        <div class="searchbar-buttons">
                            <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                                Vyhledat
                            </button>
                        </div>
                        <div class="searchbar-inputs">
                            <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                        </div>
                    </div>
                </form>
            </div>
            <div id="regExSearchDiv"></div>
        </div>
        <div class="saved-word-area" id="saved-word-area">
            <div class="dictionary-header">
                <span>Uložená hesla</span>
                <span class="saved-word-area-more"><span class="glyphicon glyphicon-collapse-down"></span></span>
            </div>
            <div class="saved-words-body">
            </div>
        </div>
    </div>
    <div class="dictionary-selects transparent-content-container">
        <div id="dropdownSelectDiv"></div>
        <div class="dropdown-description">
            <div id="dropdownDescriptionDiv"></div>
        </div>
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list">
            <div class="dictionary-header">
                <span>Seznam hesel</span>
                <div class="dictionary-header-buttons">
                    <a href="#" title="Tisk" id="printList">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </div>
            </div>
            <div class="dictionary-result-word-search-list-body" id="headwordList">
            </div>
            <div class="dictionary-result-pagination pagination-extra-small" id="pagination">
            </div>
        </div>
        <div class="dictionary-result-word-search-description">
            <div class="dictionary-header">
                <span>Heslové stati</span>
                <div class="dictionary-header-buttons">
                    <a href="#" id="cancelFilter" class="hidden">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Zrušit filtr</span>
                    </a>
                    <a href="#" title="Tisk" id="printDescription">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </div>
            </div>
            <div class="dictionary-result-word-search-description-body" id="headwordDescription">
            </div>
        </div>
    </div>

    <div id="print-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Načítání heslových statí</h4>
                </div>
                <div class="modal-body">
                    <span>Probíhá načítání heslových statí pro tisk</span>
                    <div class="loading loading-modal"></div>
                </div>
            </div>
        </div>
    </div>
</div>