@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

@section styles{
    <link href="~/Areas/Dictionaries/css/itjakub.dictionaries.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Dictionaries/js/itjakub.dictionaries.headwords.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("DictionariesListing", "Dictionaries");
}

<script type="text/javascript">
    $(document).ready(function() {
        initDictionaryViewer("@Context.Request.Query["categories"]", "@Context.Request.Query["books"]", "@Context.Request.Query["page"]");
    });
</script>

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area short-search-area transparent-content-container dicitonaries-search">
            <div id="dictionarySearchDiv">
                <form role="form" class="form-horizontal">
                    <div class="form-group searchbar">
                        <div class="searchbar-buttons">
                            <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                                @Localizer.Translate("Search", "Dictionaries")
                            </button>
                        </div>
                        <div class="searchbar-inputs input_container">
                            <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="@Localizer.Translate("Search...", "PluginsJs")" style="max-width: 100%;" />
                            <button type="button" class="btn regexsearch-input-button" id="keyboard-button">
                                <div class="custom-glyphicon-keyboard" style="height: 100%;"></div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="regExSearchDiv"></div>
        </div>
        <div class="saved-word-area hidden" id="saved-word-area">
            <div class="dictionary-header">
                <span>@Localizer.Translate("SavedKeywords", "Dictionaries")</span>
                <span class="saved-word-area-more"><span class="glyphicon glyphicon-collapse-down"></span></span>
            </div>
            <div class="saved-words-body">
            </div>
        </div>
    </div>
    <div class="dictionary-selects transparent-content-container">
        <div id="dropdownSelectDiv"></div>
        <div class="dropdown-description">
            <div id="dropdownDescriptionDiv"></div>
        </div>
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list">
            <div class="dictionary-header">
                <span>@Localizer.Translate("KeywordList", "Dictionaries")</span>
                <div class="dictionary-header-buttons">
                    <a href="#" title="@Localizer.Translate("Print", "Dictionaries")" id="printList">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </div>
            </div>
            <div class="dictionary-result-word-search-list-body" id="headwordList">
            </div>
            <div class="dictionary-result-pagination pagination-extra-small" id="pagination">
            </div>
        </div>
        <div class="dictionary-result-word-search-description">
            <div class="dictionary-header">
                <span>@Localizer.Translate("KeywordStates", "Dictionaries")</span>
                <div class="dictionary-header-buttons">
                    <a href="#" id="cancelFilter" class="hidden">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>@Localizer.Translate("CancelFilter", "Dictionaries")</span>
                    </a>
                    <a href="#" title="@Localizer.Translate("Print", "Dictionaries")" id="printDescription">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </div>
            </div>
            <div class="dictionary-result-word-search-description-body" id="headwordDescription">
            </div>
        </div>
    </div>

    <div id="print-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer.Translate("LoadingKeywordStates", "Dictionaries")</h4>
                </div>
                <div class="modal-body">
                    <span>@Localizer.Translate("LoadingKeywordStatesPrint", "Dictionaries")</span>
                    <div class="loading loading-modal"></div>
                </div>
            </div>
        </div>
    </div>
</div>