@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/Dictionaries/css/itjakub.dictionaries.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Dictionaries/js/itjakub.dictionaries.search.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("DictionariesSearch", "Dictionaries");
}

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area transparent-content-container">
            <div id="dictionarySearchDiv">
            </div>
        </div>
    </div>
    <div class="dictionary-selects transparent-content-container">
        <div id="dropdownSelectDiv"></div>
        <div class="dropdown-description">
            <div id="dropdownDescriptionDiv"></div>
        </div>
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list hidden">
            <div class="dictionary-header dictionary-header-tabs">
                <div class="dictionary-header-buttons">
                    <a href="#" title="Tisk" id="printList">
                        <span class="glyphicon glyphicon-print dictionary-header-button-middle"></span>
                    </a>
                </div>
                <ul class="nav nav-pills" id="search-tabs">
                    <li id="tab-headwords">
                        <a href="#headwords">@Localizer.Translate("Keywords", "Dictionaries") <span class="badge" id="search-headword-count"></span></a>
                    </li>
                    <li id="tab-fulltext">
                        <a href="#fulltext">@Localizer.Translate("Fulltext", "Dictionaries") <span class="badge" id="search-fulltext-count"></span></a>
                    </li>
                    <li id="tab-advanced">
                        <a href="#advanced">@Localizer.Translate("AdvancedSearch", "Dictionaries") <span class="badge" id="search-advanced-count"></span></a>
                    </li>
                </ul>
            </div>
            @*<div class="dictionary-header dictionary-subheader">
                <span>Vše ()</span>
                <span>Zapojené ()</span>
                <span>Nezapojené ()</span>
            </div>*@
            <div class="tab-content">
                <div id="list-headwords">
                    <div class="dictionary-result-word-search-list-body" id="headwords-list"></div>
                    <div class="dictionary-result-pagination pagination-extra-small" id="headwords-pagination"></div>
                </div>
                <div id="list-fulltext">
                    <div class="dictionary-result-word-search-list-body" id="headwords-list-fulltext"></div>
                    <div class="dictionary-result-pagination pagination-extra-small" id="headwords-pagination-fulltext"></div>
                </div>
                <div id="list-advanced">
                    <div class="dictionary-result-word-search-list-body" id="headwords-list-advanced"></div>
                    <div class="dictionary-result-pagination pagination-extra-small" id="headwords-pagination-advanced"></div>
                </div>
            </div>
        </div>
        <div class="dictionary-result-word-search-description hidden">
            <div class="dictionary-header">
                <span>@Localizer.Translate("KeywordStates", "Dictionaries")</span>
                <div class="dictionary-header-buttons">
                    <a href="#" id="cancelFilter" class="hidden">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>@Localizer.Translate("CancelFilter", "Dictionaries")</span>
                    </a>
                    <a href="#" title="@Localizer.Translate("Print", "Dictionaries")" id="printDescription">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </div>
            </div>
            <div class="dictionary-result-word-search-description-body tab-content" id="headword-description">
                <div id="description-headwords"></div>
                <div id="description-fulltext"></div>
                <div id="description-advanced"></div>
            </div>
        </div>
        <div class="loader hidden" id="main-loader"></div>
    </div>

    <div id="print-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer.Translate("LoadingKeywordStates", "Dictionaries")</h4>
                </div>
                <div class="modal-body">
                    <span>@Localizer.Translate("LoadingKeywordStatesPrint", "Dictionaries")</span>
                    <div class="loading loading-modal"></div>
                </div>
            </div>
        </div>
    </div>
</div>
