@model string

@if (string.Equals(Model, "ss1")) 
{
    <div id="results-panel">
	    <h3>mluv</h3>
        <blockquote>
            <p><strong>mluv</strong>; nešlechetný, hanebný, bídný: peská závist</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
        <blockquote>
            <p><strong>mluv</strong>, též pesský; k pesky, pes</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
        <blockquote>
            <p><strong>mluv</strong> = psovský, hanebný, nešlechetný</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
    
	    <h3>mluvčí</h3>
        <blockquote>
            <p><strong>mluvčí</strong>; nešlechetný, hanebný, bídný: peská závist</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
        <blockquote>
            <p><strong>mluvčí</strong>, též pesský; k pesky, pes</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
        <blockquote>
            <p><strong>mluvčí</strong> = psovský, hanebný, nešlechetný</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
    
	    <h3>mluvě</h3>
        <blockquote>
            <p><strong>mluvě</strong>; nešlechetný, hanebný, bídný: peská závist</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
        <blockquote>
            <p><strong>mluvě</strong>, též pesský; k pesky, pes</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
        <blockquote>
            <p><strong>mluvě</strong> = psovský, hanebný, nešlechetný</p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
        </blockquote>
    </div>
}
else if(string.Equals(Model, "ss2")) 
{
    <div id="results-panel">
	    <h3>mluv</h3>
        <blockquote>
            <p>
                ... e svědom . “ Šalomún Šalomún Sſalo : „ Máš li smyslnost ,
                        <strong>mluv</strong>
                s bližním svým , pakliť nenie , ale usta svá stul a za ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <blockquote>
            <p>
                ... n bude . “ A nadto nebude milosti božie hoden . Ještě ani
                        <strong>mluv</strong>
                křivdy , ani čiň jinému . Neb psáno jest : „ Mnohým kř ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
	    <h3>mluvčí</h3>
        <blockquote>
            <p>
                ... e svědom . “ Šalomún Šalomún Sſalo : „ Máš li smyslnost ,
                        <strong>mluvčí</strong>
                s bližním svým , pakliť nenie , ale usta svá stul a za ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <blockquote>
            <p>
                ... n bude . “ A nadto nebude milosti božie hoden . Ještě ani
                        <strong>mluvčí</strong>
                křivdy , ani čiň jinému . Neb psáno jest : „ Mnohým kř ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
	    <h3>mluvě</h3>
        <blockquote>
            <p>
                ... e svědom . “ Šalomún Šalomún Sſalo : „ Máš li smyslnost ,
                        <strong>mluvě</strong>
                s bližním svým , pakliť nenie , ale usta svá stul a za ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <blockquote>
            <p>
                ... n bude . “ A nadto nebude milosti božie hoden . Ještě ani
                        <strong>mluvě</strong>
                křivdy , ani čiň jinému . Neb psáno jest : „ Mnohým kř ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
    </div>
}
else if (string.Equals(Model, "ss3")) 
{
    <div id="results-panel">
        <h3>mluv</h3>
        <blockquote>
            <p>
                ...  , snad pronesl by tajemstvie tvé , neb die Seneka : „ Tak
                        <strong>mluv</strong>
                s přátely , jako by Buoh slyšel , a tak živ buď s lidmi  ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <blockquote>
            <p>
                ... pěšně učiniti slu šno jest . Jakož Seneka praví : „ Méně
                        <strong>mluv</strong>
                , než činíš , a dlúho rozvaž , ale brzo učiň , a tak chv ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <h3>mluvčí</h3>
        <blockquote>
            <p>
                ...  , snad pronesl by tajemstvie tvé , neb die Seneka : „ Tak
                        <strong>mluvčí</strong>
                s přátely , jako by Buoh slyšel , a tak živ buď s lidmi  ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <blockquote>
            <p>
                ... pěšně učiniti slu šno jest . Jakož Seneka praví : „ Méně
                        <strong>mluvčí</strong>
                , než činíš , a dlúho rozvaž , ale brzo učiň , a tak chv ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <h3>mluvě</h3>
        <blockquote>
            <p>
                ...  , snad pronesl by tajemstvie tvé , neb die Seneka : „ Tak
                        <strong>mluvě</strong>
                s přátely , jako by Buoh slyšel , a tak živ buď s lidmi  ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
        <blockquote>
            <p>
                ... pěšně učiniti slu šno jest . Jakož Seneka praví : „ Méně
                        <strong>mluvě</strong>
                , než činíš , a dlúho rozvaž , ale brzo učiň , a tak chv ...
            </p>
            <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
        </blockquote>
    </div>
}
else 
{
    <div id="results-panel">
        <h3>mluv</h3>
        <blockquote>
            <p class="kartoteka">
                <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                    <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
                </a>
                Heslo: <strong>mluv</strong>
            </p>
            <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
        </blockquote>
        <h3>mluvčí</h3>
        <blockquote>
            <p class="kartoteka">
                <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                    <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
                </a>
                Heslo: <strong>mluvčí</strong>
            </p>
            <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
        </blockquote>
        <blockquote>
            <p class="kartoteka">
                <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                    <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
                </a>
                Heslo: <strong>mluvčí</strong>
            </p>
            <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
        </blockquote>
        <blockquote>
            <p class="kartoteka">
                <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                    <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
                </a>
                Heslo: <strong>mluvčí</strong>
            </p>
            <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
        </blockquote>
        <h3>mluvě</h3>
        <blockquote>
            <p class="kartoteka">
                <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                    <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
                </a>
                Heslo: <strong>mluvě</strong>
            </p>
            <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
        </blockquote>
        <blockquote>
            <p class="kartoteka">
                <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                    <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
                </a>
                Heslo: <strong>mluvě</strong>
            </p>
            <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
        </blockquote>
    </div>
}