@using System.Linq
@model ITJakub.MVCWebLayer.ViewModels.SearchKeyWordsViewModel
           
@if (Model.Results.Count > 0)
{
    <div id="dictionary-results-panel">
        @foreach (var result in Model.Results)
        {   
            <blockquote>
                <p>
                    @(new HtmlString(result.HtmlContext))
                </p>
                
                <small>
                    @if (string.IsNullOrEmpty(result.Author))
                    {
                        <cite title="@result.Title">@result.Title</cite>
                    }
                    else
                    {
                        <a href="#" class="muted">@result.Author</a>
                        @: :
                        <cite title="@result.Title">@result.Title</cite>
                    }
                </small>
            </blockquote>
        }
    </div>
}
