@model ITJakub.MVCWebLayer.ViewModels.SearchKeyWordsViewModel

           
@if (Model.Results.Count > 0)
{
    <div id="dictionary-results-panel">
        @foreach (var result in Model.Results)
        {
            <h3>
                @foreach (var category in result.Categories)
                {
                    <span>@category</span>
                }  
            </h3>
            <blockquote>
                <p>
                    @(new HtmlString(result.HtmlContext))
                </p>
                <small><cite title="@result.Title"><a href="#" class="muted">@result.Title</a></cite> (<a href="#" class="muted">@(result.Author)</a>)</small>
            </blockquote>
        }
    </div>
}

@*<div id="dictionary-results-panel">
    <h3>Slovník - soudobý</h3>
    <blockquote>
        <p><strong>pes(s)ký, adj. psovský</strong>; nešlechetný, hanebný, bídný: peská závist</p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
    </blockquote>
    <blockquote>
        <p><strong>peský adj.</strong>, též pesský; k pesky, pes</p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
    </blockquote>
    <blockquote>
        <p><strong>pes(s)ký, adj.</strong> = psovský, hanebný, nešlechetný</p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Malý staročeský slovník (MSS)</a></cite> (<a class="muted" href="#">Albertanus</a>)</small>
    </blockquote>
    <h3>Historický text - staročeský</h3>
    <blockquote>
        <p>
            ... e svědom . “ Šalomún Šalomún Sſalo : „ Máš li smyslnost ,
                    <strong>mluv</strong>
            s bližním svým , pakliť nenie , ale usta svá stul a za ...
        </p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
    </blockquote>
    <blockquote>
        <p>
            ... n bude . “ A nadto nebude milosti božie hoden . Ještě ani
                    <strong>mluv</strong>
            křivdy , ani čiň jinému . Neb psáno jest : „ Mnohým kř ...
        </p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
    </blockquote>
    <h3>Historický text - středněčeský</h3>
    <blockquote>
        <p>
            ...  , snad pronesl by tajemstvie tvé , neb die Seneka : „ Tak
                    <strong>mluv</strong>
            s přátely , jako by Buoh slyšel , a tak živ buď s lidmi  ...
        </p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
    </blockquote>
    <blockquote>
        <p>
            ... pěšně učiniti slu šno jest . Jakož Seneka praví : „ Méně
                    <strong>mluv</strong>
            , než činíš , a dlúho rozvaž , ale brzo učiň , a tak chv ...
        </p>
        <small><cite title="Knížky o řádném mluvení a mlčení"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">Knížky o řádném mluvení a mlčení</a></cite> (<a class="muted" href="#">Albertanus Causidicus Brisciensis</a>)</small>
    </blockquote>
    <h3>Lístková kartotéka</h3>
    <blockquote>
        <p class="kartoteka">
            <a href="@Url.Content("~/Images/kartoteka.jpeg")" class="thumbnail pull-left">
                <img src="@Url.Content("~/Images/kartoteka-th.jpg")" alt="mluv" />
            </a>
            Heslo: <strong>mluv</strong>
        </p>
        <small><cite title="lístková kartotéka"><a class="muted" href="@Url.RouteUrl("SourcesDetail", new { id = "1-zizka" })">lístková kartotéka</a></cite></small>
    </blockquote>
</div>
*@


