@model ITJakub.MVCWebLayer.ViewModels.CategoriesViewModel 
           
@if (Model.Children.Count() > 0) 
{
    <ul class="nav">
        @foreach (var child in Model.Children)
        {
             if (child is ITJakub.Contracts.Categories.Categorie)
             {
                 <li data-category-id="@child.Id">
                     <i class="icon-chevron-right"></i>
                     <label class="checkbox">
                         <input type="checkbox" name="SearchPart" value="@child.Id" /><span>@child.Name</span>
                     </label>
                 </li>
             }
             else
             {
                 <li data-book-id="@child.Id">
                     <label class="checkbox">
                         <input type="checkbox" name="SearchPart" value="@child.Id" /><span>@child.Name</span>
                     </label>
                 </li>
             }
        }
    </ul>
}



    