@model ITJakub.MVCWebLayer.ViewModels.CategoriesViewModel 
           
@if (Model.Children.Count() > 0) 
{
    <ul class="nav@(!string.Equals(Model.CategoryId, "taxonomy-historical_text-medieval_czech") ? " show-categories" : "")">
        @foreach (var child in Model.Children)
        {       
                if (child is ITJakub.Contracts.Categories.Categorie)
                {
                    <li data-category-id="@child.Id">
                        @if (
                            !string.Equals(child.Id, "taxonomy-dictionary-contemporary") &&
                            !string.Equals(child.Id, "taxonomy-dictionary-historical") && 
                            !string.Equals(child.Id, "taxonomy-scholary_text") &&  
                            !string.Equals(child.Id, "taxonomy-digitized-grammar") && 
                            !string.Equals(child.Id, "taxonomy-card-index") 
                            ) {
                            <i class="icon-chevron-right"></i>
                        } else {
                            <i class="icon-chevron-right empty"></i>
                        }
                        <label class="checkbox">
                            <input type="checkbox" name="SearchPart" value="@child.Id" data-id="@child.Id" data-type="category" data-name="@child.Name" /><span>@child.Name</span>
                        </label>
                    </li>
                }
                else
                {
                    <li data-book-id="@child.Id">
                        <label class="checkbox">
                            <input type="checkbox" name="SearchPart" value="@child.Id" data-id="@child.Id" data-type="book" data-name="@child.Name" /><span>@child.Name</span>
                        </label>
                    </li>
                }
        }
    </ul>
    if (string.Equals(Model.CategoryId, "taxonomy-historical_text-medieval_czech"))
    {
        <div class="category-select">
            <ul class="nav selected-categories"></ul>
            <form class="form-search">
                <input autocomplete="off" type="text" class="input-medium search-query">
                <button type="submit" class="btn"><i class="icon-plus"></i></button>
            </form>
        </div>
    }
}



    