@using ITJakub.Contracts.Categories
@using ITJakub.MVCWebLayer.Services
@using ITJakub.MVCWebLayer.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ITJakub.MVCWebLayer.ViewModels.SearchResultViewModel

@Html.Partial("~/Views/Shared/_SearchPanel.cshtml", Model.Search)
    
<br>

<h4>Výsledky hledání:</h4>

<br>

<div class="text-left">
    <strong>Prohledávaná díla: </strong>
    <div class="searched-books">
        <span class="muted">Aktivní prohledávání ve všech dostupných dílech</span>
    </div>
</div>

<div id="created-searched-tree">
    @{
        CategoriesViewModel children = new CategoriesViewModel();
        children.Children = Model.Categories;
    }
    @Html.Partial("~/Views/Search/GetCategoryChildren.cshtml", children)
</div>

<script>
    @if (Model.SelectedCategoryIds != null)
    {
        foreach (var categoryId in Model.SelectedCategoryIds) {
            @(new HtmlString("loadedCheckedCategories.push('" + categoryId + "');" + Environment.NewLine))
        }
    }
    @if (Model.SelectedBookIds != null)
    {
        foreach (var bookId in Model.SelectedBookIds)
        {
            @(new HtmlString("loadedCheckedBook.push('" + bookId + "');" + Environment.NewLine))
        }
    }
</script>

<br><br>

<div class="row-fluid">
    <div class="span12" id="search-results-ordering">
        <ul class="nav nav-tabs">
            <li><a href="#search-results-alphabetical" data-toggle="tab" data-result="search-results-alphabetical">Abecedně</a></li>
            <li><a href="#results-type" data-toggle="tab" data-result="results-type">Podle druhu a díla</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active tabs-left" id="search-results-alphabetical">
                <ul class="nav nav-tabs">
                    @foreach (var result in Model.FoundWords)
                    {
                        <li><a data-toggle="tab" href="#@result" class="search-results-alphabetical-result" data-result="@result" data-url="@Url.RouteUrl("SearchDetail", new { searchTerm = result })" >@result</a></li>
                    }
                </ul>   
                <div class="tab-content" id="alphabetical-result-detail">
                    @foreach (var result in Model.FoundWords)
                    {
                        <div class="tab-pane" id="@result"></div>
                    }
                </div>            
            </div>
            <div class="tab-pane tabs-left" id="results-type">
                @if (Model.Results != null)
                {
                    foreach (var item in Model.Results)
                    {
                        <ul class="nav nav-tabs">
                            <li><h4>@item.Title</h4></li>
                            @foreach (var category in item.Categories)
                            {
                                <li class="search-item"><a href="#" class="search-results-type-result" data-url="@Url.RouteUrl("SearchDetailType", new { category = "book" @* book pozor na dvojtecku *@ })">@category</a></li>
                            }
                        </ul>
                    }
                }
                <ul class="nav nav-tabs">
                    <li><h4>Slovník - soudobý</h4></li>
                    <li class="search-item"><a data-toggle="tab" href="#ss1" class="search-results-type-result" data-result="ss1" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss1" })">Malý staročeský slovník (MSS)</a></li>
                    <li><h4>Historický text - staročeský</h4></li>
                    <li class="search-item"><a data-toggle="tab" href="#ss2" class="search-results-type-result" data-result="ss2" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss2" })">Knížky o řádném mluvení a mlčení</a></li>
                    <li class="search-item"><a data-toggle="tab" href="#ss3" class="search-results-type-result" data-result="ss3" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss3" })">Slovo do světa stvořenie</a></li>
                    <li><h4>Lístková kartotéka</h4></li>
                    <li class="search-item"><a data-toggle="tab" href="#ss4" class="search-results-type-result" data-result="ss4" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss4" })">Lístková kartotéka Jana Gebauera</a></li>
                </ul>
                <div class="tab-content" id="type-result-detail">
                    <div class="tab-pane" id="ss1"></div>
                    <div class="tab-pane" id="ss2"></div>
                    <div class="tab-pane" id="ss3"></div>
                    <div class="tab-pane" id="ss4"></div>
                </div>         
            </div>
        </div>
    </div>
</div>


