@using ITJakub.MVCWebLayer.Services
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ITJakub.MVCWebLayer.ViewModels.SearchResultViewModel

@Html.Partial("~/Views/Shared/_SearchPanel.cshtml", Model.Search)

<script type="text/javascript">
    $(function () {
        $("#results-type > ul li.search-item:first").addClass("active");
        $("#results-type > ul li.search-item:first a").click();

        $("#results-alphabetical > ul li:first-child").addClass("active");
        $("#results-alphabetical > ul li:first-child a").click();
        
        $("#search-results-alphabetical > ul li:first-child").addClass("active");
        $("#search-results-alphabetical > ul li:first-child a").click();
        
    });

</script>
    
<br>

<h4>Výsledky hledání:</h4>

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#search-results-alphabetical" data-toggle="tab">Abecedně</a></li>
            <li><a href="#results-type" data-toggle="tab">Podle druhu a díla</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active tabs-left" id="search-results-alphabetical">
                <ul class="nav nav-tabs">
                    @foreach (var result in Model.FoundWords)
                    {
                        <li><a href="#" class="search-results-alphabetical-result" data-url="@Url.RouteUrl("SearchDetail", new { searchTerm = result })" >@result</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="alphabetical-result-detail">
                                  
                    </div>
                </div>            
            </div>
            <div class="tab-pane tabs-left" id="results-type">
                @if (Model.Results != null)
                {
                    foreach (var item in Model.Results)
                    {
                        <ul class="nav nav-tabs">
                            <li><h4>@item.Title</h4></li>
                            @foreach (var category in item.Categories)
                            {
                                <li class="search-item"><a href="#" class="search-results-type-result" data-url="@Url.RouteUrl("SearchDetailType", new { category = "book" @* book pozor na dvojtecku *@ })">@category</a></li>
                            }
                        </ul>
                    }
                }
                <ul class="nav nav-tabs">
                    <li class="search-item"><a href="#" class="search-results-type-result" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss1" })">slovník - soudobý</a></li>
                    <li class="search-item"><a href="#" class="search-results-type-result" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss2" })">historický text - staročeský</a></li>
                    <li class="search-item"><a href="#" class="search-results-type-result" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss3" })">historický text - středněčeský</a></li>
                    <li class="search-item"><a href="#" class="search-results-type-result" data-url="@Url.RouteUrl("SearchDetailType", new { category = "ss4" })">lístková kartotéka</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="type-result-detail">
                                  
                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>

