@using Ujc.Naki.MVCWebLayer.Services
@using Ujc.Naki.MVCWebLayer.Services.Enums
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ujc.Naki.MVCWebLayer.ViewModels.SearchResultViewModel

@Html.Partial("~/Views/Shared/_SearchPanel.cshtml", Model.Search)

<script type="text/javascript">
    $(function () {
        showAlphabeticalResults();
    });

</script>
    
<br>

<h4>Výsledky hledání:</h4>

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#results-alphabetical" data-toggle="tab">Abecedně</a></li>
            <li><a href="#results-type" data-toggle="tab">Podle druhu a díla</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active tabs-left" id="results-alphabetical">
                <ul class="nav nav-tabs">
                    @foreach (var result in Model.FoundWords)
                    {
                        <li><a href="#" onclick="loadTermDetail(this, '@Url.RouteUrl("SearchDetail", new { searchTerm = result })'); return false;">@result</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="alphabetical-result-detail">
                                  
                    </div>
                </div>            
            </div>
            <div class="tab-pane" id="results-type">
                @foreach(KeyValuePair<BookCategory, List<string>> category in Model.FoundByType) 
                {
                    <h4>@category.Key.CzechString()</h4>
                    <ul>
                        @foreach(var book in category.Value) 
                        {
                            <li><a href="#" onclick="bookDetail(this, '@book'); return false;">@book</a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

